.b-time__icon,
.b-time__text {
    display: inline-block;
    vertical-align: middle;
}

.ie7 .b-time__icon,
.ie7 .b-time__text {
    display: inline;
}

.b-time__icon {
    margin: 0 5px 0 0;
    width: 19px;
    height: 19px;
    background: image-url('blocks/b-time/time.png') no-repeat;
}

.b-time__text_type_with-gap-out {
    margin: 0 30px 0 0;
}
