.b-logo {
    padding: 75px 0 0;
    text-align: center;
}

.b-logo__link {
    text-decoration: none;
}

.b-logo__image {
    margin: 0;
}

.b-logo__text {
    margin: 35px 0 0;
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: bold;
    color: #eb1e23;
    text-transform: uppercase;
}

