/* 
    Document   : happydev
    Created on : Sep 28, 2013, 1:35:16 PM
    Author     : Ivan Pastushenko @sevenbits
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'biAgoraSlabPro';
    src: url('../fonts/pfagoraslabpro-bolditalic.eot');
    src: url('../fonts/pfagoraslabpro-bolditalic.eot') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-bolditalic.woff') format('woff'),
         url('../fonts/pfagoraslabpro-bolditalic.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-bolditalic.svg#PFAgoraSlabProBoldItalic') format('svg');
}

@font-face {
    font-family: 'bliAgoraSlabPro';
    src: url('../fonts/pfagoraslabpro-blackital.eot');
    src: url('../fonts/pfagoraslabpro-blackital.eot') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-blackital.woff') format('woff'),
         url('../fonts/pfagoraslabpro-blackital.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-blackital.svg#PFAgoraSlabProBlackItalic') format('svg');
}

@font-face {
    font-family: 'rAgoraSansPro';
    src: url('../fonts/pfagorasanspro-reg.eot');
    src: url('../fonts/pfagorasanspro-reg.eot') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-reg.woff') format('woff'),
         url('../fonts/pfagorasanspro-reg.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-reg.svg#PFAgoraSansProRegular') format('svg');
}

@font-face {
    font-family: 'tAgoraSansPro';
    src: url('../fonts/pfagorasanspro-thin.eot');
    src: url('../fonts/pfagorasanspro-thin.eot') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-thin.woff') format('woff'),
         url('../fonts/pfagorasanspro-thin.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-thin.svg#PFAgoraSansProThin') format('svg');
}

@font-face {
    font-family: 'rAgoraSlabPro';
    src: url('../fonts/pfagoraslabpro-reg.eot');
    src: url('../fonts/pfagoraslabpro-reg.eot') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-reg.woff') format('woff'),
         url('../fonts/pfagoraslabpro-reg.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-reg.svg#PFAgoraSlabProRegular') format('svg');
}

@font-face {
    font-family: 'iAgoraSlabPro';
    src: url('../fonts/pfagoraslabpro-italic.eot');
    src: url('../fonts/pfagoraslabpro-italic.eot') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-italic.woff') format('woff'),
         url('../fonts/pfagoraslabpro-italic.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-italic.svg#PFAgoraSlabProItalic') format('svg');
}

@font-face {
    font-family: 'ubAgoraSlabPro';
    src: url('../fonts/pfagoraslabpro-ultrablack.eot');
    src: url('../fonts/pfagoraslabpro-ultrablack.eot') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-ultrablack.woff') format('woff'),
         url('../fonts/pfagoraslabpro-ultrablack.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-ultrablack.svg#PFAgoraSlabProUltraBlack') format('svg');
}

@font-face {
    font-family: 'bAgoraSlabPro';
    src: url('../fonts/pfagoraslabpro-bold.eot');
    src: url('../fonts/pfagoraslabpro-bold.eot') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-bold.woff') format('woff'),
         url('../fonts/pfagoraslabpro-bold.ttf') format('truetype'),
         url('../fonts/pfagoraslabpro-bold.svg#PFAgoraSlabProBold') format('svg');
}

div.ribbon,
span.place-text {
    font-family: 'iAgoraSlabPro';
}

span.date-text {    
    font-family: 'biAgoraSlabPro';
}

span.dev-text {
    font-family: 'ubAgoraSlabPro';
}

span.logo-text,
div.social-text,
button.btn-email-submit,
div.title-subscribe,
div.arrows,
div.link-site,
div.link-blog,
div.under-logo-text {
    font-family: 'rAgoraSansPro';
}

button.btn-pushed,
div.title-main,
button.btn-go-subscribe {
    font-family: 'bAgoraSlabPro';
}

div.title-text-footer,
div.title-text,
div.subtitle-subscribe {
    font-family: 'bliAgoraSlabPro';
}

div.context-text-footer,
div.context-text {
    font-size: 18px;
    font-family: 'rAgoraSlabPro';    
}

input.email-text {
    margin-right: 16px;    
    font-size: 22px;
    width: 338px;
    height: 33px;
    border: 1px solid #9E9E9E;
    padding: 5px 0px 0px 10px;
    font-family:  'tAgoraSansPro';
    display: block;
}

div.info-block-1 div.title-text,
div.info-block-2 div.title-text,
div.info-block-3 div.title-text,
div.info-block-1,
div.info-block-2,
div.info-block-3,
div.info-main-1,
div.info-main-2,
div.info-main-3,
div.info-footer-1,
div.info-footer-3,
div.info-footer-2 {
    text-align: left;
}

div.title-main,
div.context-text a,
div.social-text,
button.btn-email-submit,
div.arrows,
div.link-site a,
div.link-blog a,
div.link-site,
div.link-blog,
div.ribbon,
div.context-text,
div.title-text,
div.title-main a,
div.logo-text,
div.under-logo-text,
div.begin-date {
    color: #FFFFFF;
}

div.subtitle-subscribe,
div.title-subscribe,
div.title-text-footer,
div.context-text-footer,
div.title-text-footer a{
    color: #3BC4E4;
}

div.social-text,
div.arrows,
span.date-text,
span.place-text {
    font-size: 26px;
}

div.begin-date {
    margin-top: 79px;
    height: 36px;    
}

div.under-logo-text {
    margin-top: 11px;
    height: 28px;    
    font-size: 20px;
}

div.under-logo-text,
div.begin-date,
div.logo-text {
    width: 360px;    
}

div.title-main {
    line-height: 1.11;
    padding-left: 3px;    
    font-size: 43px;
    margin-top: 126px;
    height: 94px;
}

div.logo-text {
    padding-right: 8px;
    margin-top: 13px;
    height: 67px;
    font-size: 56px;
}

div.title-text {
    font-size: 28px;
    margin-left: -5px;
    height: 40px;
    margin-top: 7px;
}

div.social-header {
    height: 40px;
    width: 118px;
    margin-top: 33px;
}

/**/

form {
    display: block;
}

div.clear {
    clear: both;
}

div.background-subscribe,
div.under-logo-text,
div.begin-date,
div.logo-text,
form.go-subscribe,
div.arrows,
div.contacts,
div.footer,
div.title-block,
div.block,
div.social,
div.subscribe,
form.subscribe-form,
div.ribbon,
div.last-conference,
div.title-main,
div.main,
div.social-header,
div.header {
    margin-left: auto;
    margin-right: auto;
}

div.background-footer,
div.snowflakes-last,
div.top-last-waved,
div.bottom-last-waved,
div.background-last-conference,
div.background-main,
div.bottom-waved,
div.top-waved,
div.background-header,
div.lights-header 
div.bottom-waved,
div.top-waved,
div.background-header,
div.lights-header {
    min-width: 910px;
}

div.title-contacts,
div.background-footer,
div.title-block,
div.ribbon,
div.snowflakes-last,
div.top-last-waved,
div.bottom-last-waved,
div.background-last-conference,
div.new-format,
div.background-main,
div.bottom-waved,
div.top-waved,
div.lights-header,
div.background-header {
    background-repeat: no-repeat;
    background-position: center;
}

body {     
    padding: 0;
    margin: 0;
    text-align: center;
    background-repeat: repeat;
    background-image: url(../img/pattern.png);
}

div.background-footer {
    margin-top: -176px;
    height: 764px;
    background-image: url(../img/lights_footer.png);
    background-size: 1594px 764px;
}

div.ribbon {
    margin-top: 35px;
    padding-left: 8px;
    padding-top: 11px;
    font-size: 16px;
    width: 332px;
    height: 48px;
    background-image: url(../img/ribbon.png);
    background-size: 340px 55px;
}

div.snowflakes-last {
    margin-top: -2px;
    height: 109px;
    background-image: url(../img/snowflakes_last.png);
    background-size: 1830px 109px;
}

div.background-last-conference {
    margin-top: 42px;
    padding-top: 89px;
    height: 222px;
    background-image: url(../img/lights_last.png);
    background-size: 1496px 311px;
}

div.background-header {    
    height: 352px;
    background-image: url(../img/snowflakes_header.png);    
    background-size: 1786px 352px;
}

div.lights-header {  
    margin-top: -351px;
    height: 249px;
    background-image: url(../img/lights_header.png);        
    background-size: 818px 249px;
}

div.background-main {
    margin-top: -87px;
    height: 779px;
    background-image: url(../img/lights_main.png);        
    background-size: 1616px 779px;
}

div.top-last-waved,
div.bottom-last-waved,
div.bottom-waved,
div.top-waved {        
    height: 2px;
    background-image: url(../img/waved.png);    
    background-size: 1920px 2px;
}

div.title-block {
    height: 119px;
    background-size: 846px 119px;
    background-image: url(../img/block_title.png);
}

div.background-subscribe {
    margin-top: 178px;
    width: 910px;
    height: 47px; 
    background-repeat: no-repeat;
    background-image: url(../img/snow_subscribe.png);
    background-size: 185px 47px;
    background-position: 98px 0px;
}

div.title-contacts {
    height: 93px;
    background-image: url(../img/title_footer.png);
    background-size: 844px 93px;
}

div.new-format {
    margin-top: 38px;
    height: 100px;
    background-image: url(../img/new_format.png);
    background-size: 852px 100px;
}

div.snow-footer {
    height: 292px;
    background-image: url(../img/snow_footer.png);        
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px 292px;
}

div.top-waved {
    margin-top: 35px;
}

div.bottom-waved {
    margin-top: 64px;
}

img.line {
    margin-top: -1px;
}

img.main-image {
    margin-top: 38px;    
}

input.email-text,
div.link-site,
div.info-block-1,
div.info-block-2,
div.info-block-3,
div.info-main-1,
div.info-main-2,
div.info-main-3 {        
    float: left;
}

div.info-block-1,
div.info-block-2,
div.info-block-3,
div.info-main-1,
div.info-main-2,
div.info-main-3 {
    padding-left: 44px;
    width: 259px;    
}

div.info-main-1 div.context-text,
div.info-main-2 div.context-text,
div.info-main-3 div.context-text {
    margin-top: 6px;    
    line-height: 1.17;
    height: 63px;
}

div.info-main-1,
div.info-main-2,
div.info-main-3 {
    height: 414px;
}

div.info-main-1 img.main-image {
    margin-left: -20px;
}

div.info-main-2 img.line {
    margin-left: 14px;
}

div.info-main-2 div.title-text {
    margin-left: 13px;
}

div.info-main-2 div.context-text {
    margin-left: 12px;
}

div.info-main-1 div.context-text,
div.info-main-3 div.context-text {
    margin-left: -5px;
}

div.info-main-3 img.line {
    margin-left: 28px;
}

div.info-main-3 div.title-text {
    margin-left: 22px;
}

div.info-main-3 div.context-text {
    margin-left: 23px;
}

div.info-main-3 img.main-image {
    margin-left: 8px;
}

div.link-site,
div.link-blog {    
    height: 32px;
    margin-top: -46px;
    font-size: 26px;
}

div.link-site {
    float: left;
}

div.link-blog {
    margin-right: 32px;
    float: right;
}

div.arrows {
    width: 400px;
    height: 36px;
    margin-top: -43px;
}

span.left-arrow {
    padding-right: 355px;
    margin-left: 2px;
}

div.contacts,
div.subscribe,
div.block,
div.last-conference,
div.main {
    width: 910px;
}

div.block {
    margin-top: 146px;
}

div.last-conference {    
    margin-top: -222px;
}

div.main {    
    margin-top: -692px;
}

div.snow {
    padding-top: 105px;
}

div.subscribe {
    padding-top: 78px;    
    height: 287px;        
    border-radius: 15px;        
}

div.title-subscribe { 
    margin-left: 9px;
    margin-top: 5px;
    height: 44px;
    font-size: 32px;
}

div.subtitle-subscribe {
    margin-top: -5px;
    height: 63px;
    font-size: 51px;
}

button.btn-email-submit:hover, button.btn-email-submit:focus {
    cursor: pointer;    
}

button.btn-go-subscribe:hover, button.btn-go-subscribe:focus, button.btn-go-subscribe:active{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #33ACDE;
}

button.btn-email-submit { 
    font-size: 17px;
    width: 173px;
    height: 40px;
    margin-left: 15px;
    border-radius: 20px;
    padding-top: 9px;
    border: 0;
    display: block;
    background-color: #3BC4E4;
    background: -webkit-gradient(linear, left top, left bottom, from(#3BC4E4), to(#5AC9E7));
    background: -moz-linear-gradient(top, #3BC4E4, #5AC9E7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3BC4E4', endColorstr='#5AC9E7');
}

button.btn-pushed {
    background-color: #3BC4E4;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;    
    font-size: 40px;        
    margin-top: 2px;
    margin-left: 0px;
    width: 405px;
    height: 87px;        
    border-radius: 60px;
    padding: 9px 0px 0px 0px;
}

form.subscribe-form {
    padding-left: 8px;    
    margin-top: 41px;    
    width: 540px;    
}

form.go-subscribe {
    margin-top: 161px;
    width: 409px;
    height: 91px;        
    border-radius: 60px;        
}

button.btn-go-subscribe {    
    font-size: 40px;        
    margin-top: 2px;
    margin-left: 0px;
    width: 405px;
    height: 87px;        
    border-radius: 60px;
    padding: 9px 0px 0px 0px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #3BC4E4;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DFDFDF));
    background: -moz-linear-gradient(top, #FFFFFF, #DFDFDF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DFDFDF');
}

div.contacts {
    background-color: #FFFFFF;
}

div.header {
    padding-top: 47px;
    margin-top: -352px;   
    width: 910px;
    height: 367px;
}

div.social {
    margin-top: 120px;
    padding-left: 8px;
    width: 351px;
}

div.social-text {
    padding-top: 3px;
    height: 36px;
}

form.go-subscribe {    
    background-color: #33ACDE;
    border: 7px solid #FFFFFF;    
}

div.subscribe {
    background-color: #FFFFFF;
    background: -webkit-gradient(linear, left top, right bottom, from(#FFFFFF), to(#ECECEC));
    background: -moz-linear-gradient(top, #FFFFFF, #ECECEC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ECECEC');
    box-shadow: 0 20px 60px -20px #4E4364;
}

div.snow-footer {
    margin-top: 264px;
}

div.social-ref {
    margin-top: 15px;
}

div.top-last-waved {
    margin-top: 2px;
}

div.bottom-last-waved {
    margin-top: 1px;
}

a img {    
    border: none;
}

div.context-text a {    
    display: block;
    margin-top: 10px;
}

a.left-social {
    margin-right: 7px;
}

a.right-social {
    margin-left: 6px;
}

a.left-social-ref {
    padding-right: 37px;
}

a.right-social-ref {
    padding-left: 29px;
}

div.context-text a span {
    border-bottom: 1px solid #FFFFFF;
}

div.title-main a {
    border-bottom: 3px solid #FFFFFF;
}

div.link-site a,
div.link-blog a {
    border-bottom: 2px solid #FFFFFF;
}

div.title-text-footer a,
div.context-text a,
div.title-main a,
div.link-site a,
div.link-blog a {
    text-decoration: none;
}


div.info-footer-1 {
    margin-left: 46px;
}    

div.info-footer-2,
div.info-footer-3 {
    margin-left: 88px;
}

div.info-footer-1,
div.info-footer-2,
div.info-footer-3 {
    float: left;
}

div.footer {
    margin-top: -721px;
}

div.context-text-footer {
    margin-left: -5px;
    margin-top: 5px;
    line-height: 1.33;
}

div.info-footer-1,
div.info-footer-3,
div.info-footer-2 {
    height: 187px;
    width: 229px;
}

img.line-footer {
    display: block;
    margin-left: -3px;
    margin-top: -96px;
}

div.info-block-2 div.context-text {
    padding-left: 15px;
}

div.info-block-3 div.context-text {
    padding-left: 27px;
}

div.info-footer-1 div.title-text-footer,
div.info-footer-2 div.title-text-footer,
div.info-footer-3 div.title-text-footer,
div.info-block-1 div.title-text,
div.info-block-2 div.title-text,
div.info-block-3 div.title-text {
    padding-top: 7px;
}

div.info-block-1 div.context-text,
div.info-block-2 div.context-text,
div.info-block-3 div.context-text {
    margin-top: 10px;
    margin-left: -3px;
    line-height: 1.27;
    height: 178px;
}

div.info-footer-1 div.title-text-footer,
div.info-footer-2 div.title-text-footer,
div.info-footer-3 div.title-text-footer{    
    white-space: nowrap;
    margin-top: 4px;
    font-size: 28px;
    width: 260px;
}

div.info-footer-1 div.title-text-footer,
div.info-footer-3 div.title-text-footer {
    margin-left: -24px;    
}

div.info-footer-2 div.title-text-footer {
    text-decoration: underline;
    margin-left: -7px;
}

div.info-block-1 img.line,
div.info-block-2 img.line,
div.info-block-3 img.line {
    padding-top: 2px;
    display: block;  
    margin-bottom: 15px;
}

div.info-block-1 img.image-block,
div.info-block-2 img.image-block,
div.info-block-3 img.image-block {
    float: left;
    margin-right: 14px;    
}

div.info-block-1 img.image-block {
    margin-top: 8px;
    margin-left: -43px;
}

div.info-block-3 img.image-block {
    margin-top: 11px;
    margin-left: -15px;
}

div.info-block-2 img.image-block {
    margin-top: 11px;
    margin-left: -31px;
}

div.info-block-2 img.line {
    margin-left: 15px;
}

div.info-block-3 img.line {
    margin-left: 29px;
}

div.info-block-1 img.line {
    margin-left: 1px;
}

div.background-subscribe,
div.subscribe {
    display: none;
}

div.title-contacts {
    padding-top: 192px;
    margin-top: -60px;
}

div.snow-color {    
    background-color: #FFFFFF;
}

@media screen and (max-width: 1584px) {
    div.snow {                
        height: 246px;
        background-image: url(../img/snow.png);        
        background-repeat: no-repeat;
        background-position: center 105px;
        background-size: 1584px 246px;
    }
}

@media screen and (min-width: 1585px) {    
    div.snow {        
        height: 246px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1920px;
    }
    
    div.right-snow,
    div.left-snow {
        width: 612px;
        background-repeat: no-repeat;
    }
    
    div.left-snow {
        margin-top: 12px;
        float: left;
        height: 234px;
        background-image: url(../img/snow_left.png);        
        background-size: 612px 234px;
    }

    div.right-snow {
        float: right;
        height: 246px;
        background-image: url(../img/snow_right.png);
        background-size: 612px 246px;
    }
}