%p.b-programm__text
  Саша Косс
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Легкий способ бросить писать плохой код
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 10:25-11:10
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag 'speakers/koss.jpg', :class => 'b-programm__desc-photo', :alt => "Саша Косс"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Саша Косс
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} Легкий способ бросить писать плохой код
    %p.b-programm__desc-text
      Доклад посвящен всем сомневающимся в эффективности BDD.
      Автор расскажет вам о своем опыте использования этой техники 
      в разработке как Open Source, так и коммерческих проектов.
