%p.b-programm__text
  Поликарпов
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Технолог - тоже дизайнер
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 10:50-11:10
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag 'speakers/polikarpov.jpg', :class => 'b-programm__desc-photo', :alt => "Поликарпов"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Поликарпов
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} Технолог - тоже дизайнер
    %p.b-programm__desc-text
      "Технолог — тоже дизайнер. В докладе показано 7 ситуаций, в которых это очевиднее всего:
      %ul
        %li Деградации
        %li Рыба
        %li Константинопольский
        %li Анимации
        %li Дорисовка
        %li Трюки
        %li Яйца
