%p.b-programm__text
  Артем Поликапов
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Технолог - тоже дизайнер
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 10:50-11:10
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag 'speakers/polikarpov.jpg', :class => 'b-programm__desc-photo', :alt => "Артем Поликарпов"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Артем Поликапов
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} Технолог - тоже дизайнер
    %p.b-programm__desc-text
      Дизайн не кончается на картинках. После того, как макет накарамелен 
      до блеска в фотошопе, всё ещё остается куча проблем. 
      В процессе вёрстки и прикрутки сайта дизайнерские решения принимаются 
      постоянно, в том числе и технологом.
