%p.b-programm__text
  Максим Савилов
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} _________название_доклада_______
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 10:25-11:10
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag '', :class => 'b-programm__desc-photo', :alt => "Максим Савилов"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Максим Савилов
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} ____название_доклада__________
    %p.b-programm__desc-text
