%p.b-programm__text
  Андрей Шапиро
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Инкрементальный дизайн в потоковой разработке. Метод прогрессивного джипега
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 11:20-11:40
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag '', :class => 'b-programm__desc-photo', :alt => "Андрей Шапиро"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Андрей Шапиро
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} Инкрементальный дизайн в потоковой разработке. Метод прогрессивного джипега
    %p.b-programm__desc-text
      Как укладываться в итерацию с дизайном, делая его быстро и качественно.
      В бюро принято использоваться метод прогрессивного джипега и принцип ФФФ (fix time, fix budget, flex scope).
      Как сделать так, чтобы они сработали на практике
