%p.b-programm__text
  Антон Язовский
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Marklogic: как обуздать сотни гигабайт неструктурированных данных
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 10:25-11:10
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag '', :class => 'b-programm__desc-photo', :alt => "Антон Язовский"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Антон Язовский
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} Marklogic: как обуздать сотни гигабайт неструктурированных данных
    %p.b-programm__desc-text
