.b-speaker__theme-title {
    color: #333;
    font-size: 30px;
    font-weight: normal;
}

.b-speaker__theme-about {
    color: #3f495f;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.b-speaker__report-info {
    margin: 60px 0 0;
}

.b-speaker__left {
    width: 280px;
}

.b-speaker__img {
    max-width: 140px;
}

.b-speaker__title {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
}

.b-speaker__title_type_normal {
    text-transform: none;
}

.b-speaker__right {
    width: 645px;
}

.b-speaker__right .b-speaker__title:first-child {
    margin-top: 0;
}

.b-speaker__right .b-speaker__title {
    margin-top: 40px;
}

.b-speaker__list {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #3f495f;
    font-family: Arial, sans-serif;
}

.b-speaker__list-item {
    margin: 0 0 10px;
    padding: 0 0 0 20px;
    list-style: none;
    background: image-url('blocks/b-speaker/line.png') 0 8px no-repeat;
}

.b-speaker__list_type_gray .b-speaker__list-item {
    background-image: iamge-url('blocks/b-speaker/line-gray.png');
    background-position: 0 7px;
    color: #666;
}

.b-speaker__list_type_gray {
    color: #666;
    font-size: 12px;
    line-height: 17px;
}

.b-speaker__text {
    color: #3f495f;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 19px;
}

.b-speaker__text_type_gray {
    color: #666;
}

.b-speaker__invite {
    margin: 30px 0 0;
    padding: 15px;
    background: #fff;
}

.b-speaker__invite-title {
    margin: 3px 40px 0 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000;
}

.b-speaker__link {
    color: #3362AE;
    text-decoration: none;
    border-bottom: 1px solid #B2CCF0;
}

.b-speaker__link:hover {
    color: #cc0000;
    border-color: #F0B2B2;
}

.b-speaker__link:visited {
    color: #909;
    border-color: #E0B2E0;
}

.b-speaker__link:visited:hover {
    color: #cc0000;
    border-color: #F0B2B2;
}

.b-speaker__likes {
    margin: 35px 0 0;
    padding: 0;
}

.b-speaker__likes-item {
    margin: 0 0 0 15px;
    list-style: none;
    float: left;
}

.b-speaker__likes-item:first-child {
    margin: 0;
}

.b-speaker__likes-link {
    display: block;
    width: 16px;
    height: 16px;
    background: url(likes.png);
    text-decoration: none;
    opacity: .8;
    filter: alpha(opacity=80);
}

.b-speaker__likes-link:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.b-speaker__likes-link_icon_twitter {
    background-position: 0 0;
}

.b-speaker__likes-link_icon_vk {
    background-position: 0 -16px;
}

.b-speaker__likes-link_icon_fb {
    background-position: 0 -32px;
}

.b-speaker__likes-link_icon_hh {
    background-position: 0 -48px;
}

.b-speaker__likes-link_icon_flamp {
    background-position: 0 -64px;
}
