= simple_form_for(@invoice, :url => invoice_path(@invoice), :html => { :class => 'form-horizontal' }) do |f|
  -# = f.input :user_id
  
  = f.association :events,
                  :collection => @events,
                  :as => :check_boxes, 
                  :label => 'Я оплачиваю:'

  #price.control-group
    %label.control-label
    .controls
      Общая стоимость
      %strong
        #amount
          0

  .form-actions
    = f.submit 'Готово', :class => 'btn-primary'
