= simple_form_for(@invoice, :url => invoice_path(@invoice), :html => { :class => 'form-horizontal' }) do |f|
  .control-group
    .control-label
      Промокод:
    .controls
      = text_field_tag :promocode

  = f.association :events,
                  :collection => @events.collect{|e| [e.full_name, e.id]},
                  :as => :check_boxes, 
                  :label => 'Я оплачиваю:'

  #price.control-group
    %label.control-label
    .controls
      Общая стоимость
      %strong
        #amount
          0

  .form-actions
    = f.submit 'Готово', :class => 'btn-primary'
