%h1 Demopage

= payment_service_for 1, 'AnnieOmsk',
                        :amount =>  10,
                        :service => :robokassa,
                        :secret => 'dkhtdkjhpbkcp,2012' do |s|
  = submit_tag "Хочу купить за 10 рублей", :class => 'btn btn-primary btn-large'
