- title "Оплата участия"

.l-page_width_page.l-page_gap-bottom_50
  = render :partial => 'layouts/logo'
  .l-page_gap-top-out_50.l-page_gap-bottom-out_40
    .l-page_align_center.b-title__line
      .b-title__inner
        %h2.b-title
          Оплата закрыта!

