%article.l-page_gap-top-out_50.clearfix
  #carousel-logos.b-photos.fotorama{"data-width" => "#{is_mobile_view? ? 850 : 880}", "data-height" => "523"}
    -#.b-photos-carousel-inner
    - photos = Dir.glob("app/assets/images/photos/*").sort
    -#//.item.active
    -#  //= image_tag "photos/#{photos[0].split('/').last}", :class => 'b-landing-photo'
    - photos.slice(0, photos.size).each do |photo|
      -#//.item
      = image_tag "photos/#{photo.split('/').last}", :class => 'b-landing-photo'
    %a.b-photos__carousel-control.carousel-control.left{"data-slide" => "prev", :href => "#carousel-logos"}
    %a.b-photos__carousel-control.carousel-control.right{"data-slide" => "next", :href => "#carousel-logos"}
