.l-page_width_page {
    width: 980px;
    margin: auto;
}

@media (max-width: 1024px) {
  .l-page_width_page {
      width: 960px;
      padding: 0 10px;
  }
}

.l-page_bg_white {
    background: #fff;
}

.l-page_gap-bottom_50 {
    padding-bottom: 50px;
}

.l-page_gap-top_25 {
    padding-top: 25px;
}

.l-page_gap-top_35 {
    padding-top: 35px;
}

.l-page_gap-top_75 {
    padding-top: 75px;
}

.l-page_gap-bottom_25 {
    padding-bottom: 25px;
}

.l-page_gap-right-out_45 {
    margin-right: 45px;
}

.l-page_align_center {
    text-align: center;
}

.l-page__float_left {
    float: left;
}
