
html, body {
  min-width: 1080px;
  width: 100%;
}
.page-small {
  width: 880px;
}

.b-landing-sections__title {
  color: rgb(63, 63, 63);
  font-size: 28px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 76px;
  text-transform: uppercase;
  clear: both;
  &.new {
    margin-bottom: 28px;
  }
}

.b-logo-tip {
  color: white;
  background: rgb(13, 93, 175);
  font-size: 23px;
  width: 180px;
  text-align: center;
  padding: 6px;
}

.b-logo-tip-wrap {
  float: right;
  position: relative;
  left: -178px;
  top: -29px;
  p {

    font-size: 16px;
    margin: 0;
    font-family: 'PT Sans Regular';
    span {
      border-bottom: 1px solid rgb(137, 194, 247);
      a {
        text-decoration: none;
        color:rgb(13, 93, 175);
      }
    }
  }
}

.b-logo-tip-triangle {
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-left:10px solid rgb(13, 93, 175);
}

.b-new-logo-tip {
  color: white;
  background: #BD3248;;
  font-size: 23px;
  width: 280px;
  text-align: center;
  padding: 6px;
}

.b-new-logo-tip-wrap {
  float: right;
  position: relative;
  left: 19px;
  top: -109px;
}

.b-new-logo-tip-triangle {
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-left:10px solid #BD3248;;
}

.b-landing-sections__date {
  font-family: 'PT Sans Regular';
  font-size: 14px;
  color: rgb(160, 160, 160);
  &.new-date {
    position: relative;
    top: -35px;
  }
}


.b-tweets-wrap {
  overflow: hidden;
  background-color: #e9e9e9;
  width: 540px;
  padding: 10px;
  float: left;
  margin-top: 0;
}


.b-landing-links {
  float: right;
}

.link-wrap-triangle {
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-left:10px solid #e9e9e9;
  margin-bottom: 15px;
  &.blue {
    border-left:10px solid #255aab;
  }
}

.link-wrap {
  background-color: #e9e9e9;
  padding: 2px 33px;
  a {
    color: black;
    text-decoration: none;
  }
  &.blue {
    background-color: #255aab;
    a {
      color: white;
    }
  }
}

.landing-speaking {
  margin-top: 100px;
  margin-bottom: 70px;
}

.b-page {
  background-color: white;
}

section#old, section#new {
  background-color: #f1f1f3;
  padding-bottom: 30px;
  margin-bottom: -100px;
}

#new {
  border-top: 1px solid rgb(196, 196, 196);
}

