.b-landing-sections {
  text-align: center;
}

.b-landing-sections__text-main {
  font-family: 'pf_din_text_cond_probold';
  font-size: 24px;
  font-weight: normal;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.b-landing-sections__text {
  display: block;
  font-family: 'pf_din_text_cond_proxthin';
  font-size: 52px;
  color: #333;
  letter-spacing: 0;
  word-spacing: 6px;
  text-transform: uppercase;
}

.b-landing-sections__title {
  color: rgb(63, 63, 63);
  font-size: 28px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 76px;
  text-transform: uppercase;
  clear: both;
  &.new {
    margin-bottom: 28px;
  }
}

.b-logo-tip {
  color: white;
  background: rgb(13, 93, 175);
  font-size: 23px;
  width: 180px;
  text-align: center;
  padding: 6px;
}

.b-logo-tip-wrap {
  float: right;
  position: relative;
  left: -178px;
  top: -29px;
  p {

    font-size: 16px;
    margin: 0;
    font-family: 'PT Sans Regular';
    span {
      border-bottom: 1px solid rgb(137, 194, 247);
      a {
        text-decoration: none;
        color:rgb(13, 93, 175);
      }
    }
  }
}

.b-logo-tip-triangle {
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-left:10px solid rgb(13, 93, 175);
}



.b-new-logo-tip {
  color: white;
  background: #BD3248;;
  font-size: 23px;
  width: 280px;
  text-align: center;
  padding: 6px;
}

.b-new-logo-tip-wrap {
  float: right;
  position: relative;
  left: 19px;
  top: -109px;
}

.b-new-logo-tip-triangle {
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-left:10px solid #BD3248;;
}

.b-landing-sections__date {
  font-family: 'PT Sans Regular';
  font-size: 14px;
  color: rgb(160, 160, 160);
  &.new-date {
    position: relative;
    top: -35px;
  }
}

.b-landing-sections__text-section {
  line-height: 25px;
}

.b-landing-sections__text-bold {
  margin: 5px 0 10px;
  font-family: 'pf_din_text_cond_probold';
}

.b-landing-section-subscribe__text {
  margin-top: 0;
  font-size: 35px;
  color: #333;
  text-align: center;
  font-weight: normal;
}

.b-landing-photo {
  width: 600px;
  height: 400px;
}

.b-photos__carousel-control {
    position: absolute;
    top: 165px;
    width: 31px;
    height: 59px;
    background: image-url('blocks/b-reporters/b-reporters-arrows.png');
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 111;
}

.b-photos__carousel-control.right {
    right: 0;
    left: auto;
    background-position: -31px 0;
}

.b-photos__carousel-control:hover {
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.b-photos {
    margin: 0 auto;
    position: relative;
    width: 750px;
    padding-left: 10px !important;
}

/* Carousel */

.b-photos__carousel {
    position: relative;
}

.b-photos__carousel .b-photos-carousel-inner {
    width: 600px;
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.b-photos__carousel .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.b-photos__carousel .active,
.b-photos__carousel .next,
.b-photos__carousel .prev {
    display: block;
}

.b-photos__carousel .active {
    left: 0;
}

.b-photos__carousel .next,
.b-photos__carousel .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.b-photos__carousel .next.left,
.b-photos__carousel .prev.right {
    left: 0;
}

.b-landing-form {
  margin-top: 60px 0 0;
}

.b-landing-social {
  font-size: 12px;
}

.b-landing-links {
  font-size: 26px;
  color: #3362AE;
  text-align: center;
  font-family: 'pf_din_text_cond_prothin';
}

.b-landing-links__link {
  margin-left: 20px;
  margin-right: 20px;
}

.b-landing-red-text {
  font-family: 'PT Sans Regular';
  font-size: 35px;
  color: #BD3248;
  text-transform: uppercase;
}

.b-landing-subscribe {
    width: 858px;
    margin: auto;
    margin-top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    -moz-box-shadow: -1px 12px 46px -7px rgba(67, 86, 100, .4);
    -webkit-box-shadow: -1px 12px 46px -7px rgba(67, 86, 100, .4);
    box-shadow: -1px 12px 46px -7px rgba(67, 86, 100, .4);
    padding: 60px;
    text-align: center;
}

.b-landing-subscribe__title-small {
    font-size: 54px;
    line-height: 85px;
    font-weight: normal;
    color: #333;
    font-family: 'pf_din_text_cond_proxthin';
}

.b-landing-subscribe__title {
    font-size: 51px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.b-landing-form-item {
  margin: 0 auto;
  margin-top: 15px;
  display: block;
}

.b-landing-inputs {
  margin: 30px 0 0;
}

.b-foot-text {
  text-align: center;
  font-size: 20px;
  line-height: 17px;
  color: rgb(163, 163, 163);
  font-family: 'PT Sans Regular';
}

.b-landing-footer {
  margin: 80px 0 0;
}

.b-landing-form__input {
  width: 434px;
  height: 45px;
  font-family: 'pf_din_text_cond_proregular';
  font-size: 23px;
  display: inline;
  margin-right: 10px;

}

.b-landing-form__error {
  color: rgb(158, 0, 0);
}

@mixin input-placeholder {
  color:    #000;
}

.b-landing-form__input::-webkit-input-placeholder { /* WebKit browsers */
  @include input-placeholder;
}
.b-landing-form__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  @include input-placeholder;
}
.b-landing-form__input::-moz-placeholder { /* Mozilla Firefox 19+ */
  @include input-placeholder;
}
.b-landing-form__input:-ms-input-placeholder { /* Internet Explorer 10+ */
  @include input-placeholder;
}

.l-page-hr {
  margin-top: 94px;
}

.b-landing-subscribe__button {
    background: #C2374E;
    background: -moz-linear-gradient(top, #C2374E 0%, #9B1321 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C2374E), color-stop(100%, #9B1321));
    background: -webkit-linear-gradient(top, #C2374E 0%, #9B1321, 100%);
    background: -o-linear-gradient(top, #C2374E 0%, #9B1321 100%);
    background: -ms-linear-gradient(top, #C2374E 0%, #9B1321 100%);
    background: linear-gradient(top, #C2374E 0%, #9B1321 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2374E', endColorstr='#9B1321', GradientType=0);
    padding: 12px 28px;
    color: white;
    border-radius: 48px;
    -moz-border-radius: 48px;
    -webkit-border-radius: 48px;
    text-transform: uppercase;
    border: none;
    font-size: 23px;
    font-family: 'pf_din_text_cond_proregular';
}

.b-landing-form__success {
  color: #257439;
  font-size: 30px;
}

.b-landing-social-links {
  margin-top: 37px;
  margin-bottom: 150px;
}

.b-landing-social__link {
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}

.b-landing-social-image {
  height: 65px;
}

.b-landing-speaking {
  margin: 94px 0 0 !important;
}


/*bootstrap styles*/
.alert-success, .alert-success .alert-heading {
  color: #468847;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.twitter-tweet {
  width: 900px;
}


.b-tweets-wrap {
  overflow: hidden;
  background-color: #e9e9e9;
  width: 640px;
  margin: 10px;
  padding: 10px;
  float: left;
  margin-top: 0;
}


.b-landing-links {
  float: right;
}

.link-wrap-triangle {
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-left:10px solid #e9e9e9;
  margin-bottom: 15px;
}

.link-wrap {
  background-color: #e9e9e9;
  padding: 2px 33px;
  a {
    color: black;
    text-decoration: none;
  }
}

.landing-speaking {
  margin-top: 100px;
  margin-bottom: 70px;
}

.b-page {
  background-color: white;
}

section#old, section#new {
  background-color: #f1f1f3;
  padding-bottom: 30px;
  margin-bottom: -100px;
}

#new {
  border-top: 1px solid rgb(196, 196, 196);
}