%style
  :sass
    .desc
      li 
        font-size: 1.3em
        line-height: 1.5em
      p
        font-size: 1.3em
        line-height: 1.5em
        margin-bottom: 20px


#content.container.desc
  .row
    .span12.hero-unit
      %h1 О конференции
  .row

    .span12
 
      
      %p
        Поскольку это <strike>Спарта!</strike>Омск, нам недостаточно провести просто техническую или, например, дизайнерскую конференцию. Мы подошли к вопросу с другой стороны, подробности ниже :)

      %p
        Часто после прослушивания очередного доклада на конференции возникает вопрос "Ну и собственно какую проблему ты, дорогой друг, решал этой замечательной технологией/методологией?"
        %br
        На нашу конференцию мы зовем только тех докладчиков, которые смогут прежде чем рассказывать "как", рассказать "зачем".

      %h2
        Зачем это все?
      %p
        Мы хотим повысить уровень осознанности принимаемых решений у всех участников процесса разработки ПО. Не "ух ты какая модная технология - на следующем же проекте ее используем", а чтобы было четкое понимание для решения каких задач какие методы подходят.
    .span12

      :markdown
        Доклады будут разбиты на три секции в зависимости от области. Таких областей мы выделили три: **Стартапы**, **Продуктовая разработка**, **Фабрика проектов**.

      .sections
        .row
          .span4
            %h2{:style => "color:#043A6B"} Стартапы
            %p Здесь мы хотели бы обсудить то, как работа в стартапе отражается на принятии решений в разработке, управлении и дизайне. Какие задачи нужно решать в первую очередь, чем можно пренебречь.
            -#%p
              %a{:class => "", :href => "#"} Подробнее &raquo;
          .span4
            %h2{:style =>"color:#52026E"} Продуктовая разработка
            %p На этой секции мы рассмотрим вопросы зрелых продуктов с клиентской базой. Например, поддержка пользователей, работа под нагрузками, развитие продукта.
            -#%p
              %a{:class =>"", :href => "#"} Подробнее &raquo;
          .span4
            %h2{:style => "color:#6B9B00"} Фабрика проектов
            %p Эта секция посвящена опыту веб-студий и аутсорс-компаний, у кого работа с проектами поставлена на поток.
            -#%p
              %a{:class =>"", :href => "#"} Подробнее &raquo;


      %p
        Внутри каждой секции будут чередоваться доклады по разработке, дизайну и процессам. Причем они не будут пересекаться. Так что, например, разработчик, которому все эти приседания до лампочки, сможет ходить только на разработческие доклады и ни одного не пропустить.

      .ac
        = image_tag "schema.png"

      %p
        Не запрещено оставаться и набираться опыта и знаний исключительно в в рамках одной секции :)

