%section.b-sections.l-page_gap-top_25#about{:style => 'margin-top: 15px'}
  %h2.b-sections__title.b-sections__title_type_small
    Три потока, учитывающие особенности решаемых задач
  .clearfix
    = render :partial => 'sections/section', :object => @sections.select {|s| s.id == 1}.first # Стартапы
    = render :partial => 'sections/section', :object => @sections.select {|s| s.id == 3}.first # Продуктовая разработка
    = render :partial => 'sections/section', :object => @sections.select {|s| s.id == 2}.first # Фабрика проектов

  %p.l-page_align_right
    %i
      Я разработчик, я ничего не хочу решать.
      %a.b-link{:href => 'http://happydev.tumblr.com/post/30994676899'}
        Зачем мне все это?