%section.clearfix.b-speaking
  .b-speaking__title-inner
    %h2.b-speaking__title
      Говорят
  .b-comments
    .b-comments__comment.clearfix
      .b-comments__person.clearfix
        .b-comments__person-photo
          = image_tag "blocks/b-comments/person-1.png", :class => 'b-comments__person-img', :alt => "Сергей Бережной"
          %span.b-comments__person-frame
        .b-comments__content
          %h2.b-comments__person-name
            Сергей Бережной
          %p.b-comments__person-url
            %a.b-comments__person-url-link{:href => "http://anotherpm.com"}
              anotherpm.com
          %p.b-comments__text
            Да, довольно интересное событие, которое ищет свою нишу в рынке конференций и
            идей. Приятно удивляет то, что вы хотите сделать конфу практичной, а не
            \&laquo;популистской&raquo;, Это замечательное решение, которого давно ждет рынок:)
      .b-comments__person.clearfix
        .b-comments__person-photo
          = image_tag "blocks/b-comments/person-2.png", :class => 'b-comments__person-img', :alt => "Сергей Бережной"
          %span.b-comments__person-frame
        .b-comments__content
          %h2.b-comments__person-name
            Дмитрий Проворотов
          %p.b-comments__person-url
            %a.b-comments__person-url-link{:href => "http://factory.mn"}
              factory.mn
          %p.b-comments__text
            У вас очень крутой подход к реализации и ваше письмо с пожеланиями по теме и
            структуре выступления просто покорило меня. Успеха вам!
            Уверен, у вас все получится отлично!
  .b-twitter
    %script{:src => 'http://widgets.twimg.com/j/2/widget.js'}
    %script(type="text/javascript")
      new TWTR.Widget({
      version: 2,
      type: 'profile',
      interval: 6000,
      title: '#HappyDev',
      width: 220,
      height: 320,
      theme: {
      shell: {
      background: '#f1f1f3',
      color: '#4A5257'
      },
      tweets: {
      background: '#fff',
      color: '#1c1c1c',
      links: '#3a6fcd'
      }
      },
      features: {
      scrollbar: false,
      loop: true,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: true,
      toptweets: true,
      behavior: 'default'
      }
      }).render().setUser('@_HappyDev').start();