%section#organizers.b-organizers
  .b-organizers__inner.clearfix
    .l-page__float_left.l-page_gap-right-out_45
      %h2.b-organizers__title
        Организаторы конференции
      %img.b-organizers__logo{:alt => "7bits", :src => "blocks/b-organizers/7bits-logo.png"}/
    .l-page__float_left
      %h2.b-organizers__title
        Генеральные спонсоры
      %img.b-organizers__logo{:alt => "Renault", :src => "blocks/b-organizers/renault-logo.png"}/
      %img.b-organizers__logo{:alt => "Peugeot", :src => "blocks/b-organizers/peugeot-logo.png"}/
      %img.b-organizers__logo{:alt => "Nissan", :src => "blocks/b-organizers/nissan-logo.png"}/
  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Спонсоры
    %img.b-organizers__logo{:alt => "Евромед", :src => "blocks/b-organizers/euromed-logo.png"}/
    %img.b-organizers__logo{:alt => "Вавилон", :src => "blocks/b-organizers/vavilon-logo.png"}/
    %img.b-organizers__logo{:alt => "Солёный зефир", :src => "blocks/b-organizers/zefir-logo.png"}/
  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Партнеры
    %img.b-organizers__logo{:alt => "a2design", :src => "blocks/b-organizers/a2design-logo.png"}/
  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Информационная поддержка
    %img.b-organizers__logo{:alt => "Стольник", :src => "blocks/b-organizers/stolnik-logo.png"}/
