%section#programm.b-programm.l-page_gap-top_75
  .l-page_align_center.b-programm__line
    .b-programm__title-inner
      %h2.b-programm__title
        Программа
  %table.b-programm__table
    %tbody.b-programm__body
      %tr.b-programm__row
        %td.b-programm__column
          9:00-10:00
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__column-title
            Регистрация
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__column-title
            Торжественное открытие конференции.
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            %p.b-programm__text
              Юрий Подорожный
            %p.b-programm__theme
              %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
            .b-programm__desc.js-b-programm__desc
              .b-programm__desc-time
                %span.b-programm__desc-watch 10:00-10:20
                Главный зал
              .b-programm__desc-person
                .b-programm__desc-person-info-inner.clearfix
                  %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                  .b-programm__desc-person-info
                    %h2.b-programm__desc-name
                      Юрий Подорожный
                    %p.b-programm__desc-theme
                      %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                %p.b-programm__desc-text
                  На примере отлаженной работы нашего продакшна я покажу,
                  как можно объединить интересы девелоперов, маркетологов
                  и сейлзов, учесть интересы потребителя, чтобы на выходе
                  получить качественный и коммерчески успешный продукт.
                  в последнюю минуту.
        %td.b-programm__column
          %p.b-programm__text
            Юрий Подорожный
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            %p.b-programm__text
              Юрий Подорожный
            %p.b-programm__theme
              %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
            .b-programm__desc.js-b-programm__desc
              .b-programm__desc-time
                %span.b-programm__desc-watch 10:00-10:20
                Главный зал
              .b-programm__desc-person
                .b-programm__desc-person-info-inner.clearfix
                  %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_3.png"}/
                  .b-programm__desc-person-info
                    %h2.b-programm__desc-name
                      Юрий Подорожный
                    %p.b-programm__desc-theme
                      %a.b-programm__desc-theme-link{:href => "#"} Product Owner - самая бессмысленная роль, или как команды совместно создают проекты
                %p.b-programm__desc-text
                  На примере отлаженной работы нашего продакшна я покажу,
                  как можно объединить интересы девелоперов, маркетологов
                  и сейлзов, учесть интересы потребителя, чтобы на выходе
                  получить качественный и коммерчески успешный продукт.
                  в последнюю минуту.
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column
        %td.b-programm__column
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            %p.b-programm__text
              Юрий Подорожный
            %p.b-programm__theme
              %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
            .b-programm__desc.js-b-programm__desc
              .b-programm__desc-time
                %span.b-programm__desc-watch 10:00-10:20
                Главный зал
              .b-programm__desc-person
                .b-programm__desc-person-info-inner.clearfix
                  %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                  .b-programm__desc-person-info
                    %h2.b-programm__desc-name
                      Юрий Подорожный
                    %p.b-programm__desc-theme
                      %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                %p.b-programm__desc-text
                  На примере отлаженной работы нашего продакшна я покажу,
                  как можно объединить интересы девелоперов, маркетологов
                  и сейлзов, учесть интересы потребителя, чтобы на выходе
                  получить качественный и коммерчески успешный продукт.
                  в последнюю минуту.
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column
          %p.b-programm__text
            Юрий Подорожный
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
        %td.b-programm__column
          %p.b-programm__text
            Юрий Подорожный
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
        %td.b-programm__column
          %p.b-programm__text
            Юрий Подорожный
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column
          %p.b-programm__text
            Юрий Подорожный
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            %p.b-programm__text
              Юрий Подорожный
            %p.b-programm__theme
              %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
            .b-programm__desc.js-b-programm__desc
              .b-programm__desc-time
                %span.b-programm__desc-watch 10:00-10:20
                Главный зал
              .b-programm__desc-person
                .b-programm__desc-person-info-inner.clearfix
                  %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                  .b-programm__desc-person-info
                    %h2.b-programm__desc-name
                      Юрий Подорожный
                    %p.b-programm__desc-theme
                      %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                %p.b-programm__desc-text
                  На примере отлаженной работы нашего продакшна я покажу,
                  как можно объединить интересы девелоперов, маркетологов
                  и сейлзов, учесть интересы потребителя, чтобы на выходе
                  получить качественный и коммерчески успешный продукт.
                  в последнюю минуту.
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            %p.b-programm__text
              Юрий Подорожный
            %p.b-programm__theme
              %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
            .b-programm__desc.js-b-programm__desc
              .b-programm__desc-time
                %span.b-programm__desc-watch 10:00-10:20
                Главный зал
              .b-programm__desc-person
                .b-programm__desc-person-info-inner.clearfix
                  %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                  .b-programm__desc-person-info
                    %h2.b-programm__desc-name
                      Юрий Подорожный
                    %p.b-programm__desc-theme
                      %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                %p.b-programm__desc-text
                  На примере отлаженной работы нашего продакшна я покажу,
                  как можно объединить интересы девелоперов, маркетологов
                  и сейлзов, учесть интересы потребителя, чтобы на выходе
                  получить качественный и коммерчески успешный продукт.
                  в последнюю минуту.
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column
          %p.b-programm__text
            Юрий Подорожный
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
        %td.b-programm__column
          %p.b-programm__text
            Юрий Подорожный
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            %p.b-programm__text
              Юрий Подорожный
            %p.b-programm__theme
              %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
            .b-programm__desc.js-b-programm__desc
              .b-programm__desc-time
                %span.b-programm__desc-watch 10:00-10:20
                Главный зал
              .b-programm__desc-person
                .b-programm__desc-person-info-inner.clearfix
                  %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                  .b-programm__desc-person-info
                    %h2.b-programm__desc-name
                      Юрий Подорожный
                    %p.b-programm__desc-theme
                      %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                %p.b-programm__desc-text
                  На примере отлаженной работы нашего продакшна я покажу,
                  как можно объединить интересы девелоперов, маркетологов
                  и сейлзов, учесть интересы потребителя, чтобы на выходе
                  получить качественный и коммерчески успешный продукт.
                  в последнюю минуту.
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column
          %p.b-programm__text
            Максим Трескин
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Erlyvideo. Why Erly?
        %td.b-programm__column{:colspan => "2"}
          %p.b-programm__text
            Никита Филиппов
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Product Owner - самая бессмысленная роль, или как команды совместно создают проекты
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__text
            Обед
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__text
            Конкурсы
      %tr.b-programm__row
        %td.b-programm__column
          10:00-10:20
        %td.b-programm__column
          %p.b-programm__text
            Яков Сироткин
          %p.b-programm__theme
            %a.b-programm__theme-link{:href => "#"} Автобус не придет
        %td.b-programm__column
        %td.b-programm__column
