%section#programm.b-programm.l-page_gap-top_25
  .l-page_align_center.b-programm__line
    .b-programm__title-inner
      %h2.b-programm__title
        Программа
  %table.b-programm__table
    %tbody.b-programm__body
      %tr.b-programm__row
        %td.b-programm__column
          9:00
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__column-title
            Регистрация
      

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          10:00
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__column-title
            Открытие конференции
      

      %tr.b-programm__row
        %td.b-programm__column
          10:25
        // Юрий Подорожный ======================================================
        %td.b-programm__column{:rowspan => 2}
          .b-programm__content.js-b-programm__content
            =render :partial => "home/startup/podorozhny"
        // Ольга Павлова ======================================================              
        %td.b-programm__column{:rowspan => 2}
          .b-programm__content.js-b-programm__content
            =render :partial => "home/product/pavlova"
        // Данил Снитко ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/snitko"

      %tr.b-programm__row
        %td.b-programm__column
          11:20
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/polykarpov"
     

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          11:20
        // Рамиль Шайхутдинов ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/startup/shayhutdinov"
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/product/kudymov"
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/shapiro"
      %tr.b-programm__row
        %td.b-programm__column
          11:50
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/startup/polykarpov"
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/product/kudzev"
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/savilov"
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          12:20
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/startup/treskin"
        %td.b-programm__column{:colspan => "3"}
          .b-programm__content.js-b-programm__content
            =render :partial => "home/cross_section/filippov"
      %tr.b-programm__row
        %td.b-programm__column
          13:00-14:00
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__column-title
            Обед
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          13:40-14:20
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__column-title
            Конкурсы
      %tr.b-programm__row
        %td.b-programm__column
          14:20-15:00
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/cross_section/sirotkin"
        %td.b-programm__column{:colspan => "2"}
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          15:05
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            =render :partial => "home/startup/volkov"
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            =render :partial => "home/product/kudymov"
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/koss"
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          15:50
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/yazovskiy"
      
      %tr.b-programm__row
        %td.b-programm__column
          16:00
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/startup/filippov"
        %td.b-programm__column
          ?
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/tarasenko"
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          16:20-16:40
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__column-title
            Полдник, конкурсы
      %tr.b-programm__row
        %td.b-programm__column
          16:40
        %td.b-programm__column
          ?
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/product/gurtovenko"
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/nepomnyashikh"
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          17:20
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            =render :partial => "home/startup/volkov-pavlova"
        %td.b-programm__column
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/byndy"
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          18:40
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/product/chistyakov"
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            =render :partial => "home/factory/bush"
      
      %tr.b-programm__row
        %td.b-programm__column
          18:50-19:00
        %td.b-programm__column{:colspan => "3"}
          Закрытие
