%section#reports.b-reporters.l-page_gap-top_5
  %span.b-reporters__count
    %i.b-reporters__count-number 24
  %h2.b-reporters__title
    Докладчики
  %p.b-reporters__title-text
    - Section.without_general.each do |section|
      = section.name
    - Specialization.without_general.each do |spec|
      = spec.name
  = render :partial => 'speakers_carousel'
