%section#reports.b-reporters.l-page_gap-top_5
  %span.b-reporters__count
    %i.b-reporters__count-number 24
  %h2.b-reporters__title
    Докладчики
  %ul.b-filter
    - section_and_spec_names.each do |type, array|
      - array.each do |item|
        %li.b-filter__item
          %a.b-filter__link{:data => { type => item }}
            = item
  = render :partial => 'speakers_carousel'
