%article.speaker.span3
  .speaker-avatar
    = image_tag "speakers/filippov.jpg"
  %h3.speaker-name
    %a{:href => "http://nikfilippov.moikrug.ru/"} Никита Филиппов
  %span.speaker-position
    %a{:href => 'http://scrumtrek.ru/'} Scrumtrek
  , Москва

%article.speaker.span3
  .speaker-avatar
    = image_tag "speakers/krivitsky.jpg"
  %h3.speaker-name
    %a{:href => "http://www.krivitsky.com"} Алексей Кривицкий
  %span.speaker-position
    %a{:href => 'http://www.scrumguides.com/'} Scrum Guides
  , Киев

%article.speaker.span3
  .speaker-avatar
    = image_tag "speakers/volkov.jpg"
  %h3.speaker-name
    %a{:href => "http://leonidvolkov.ru"} Леонид Волков
  %span.speaker-position IT-Прожектор
  , Екатеринбург

%article.speaker.span3
  .speaker-avatar
    = image_tag "speakers/podorozhny.jpg"
  %h3.speaker-name Юрий Подорожный
  %span.speaker-position
    %a{:href => "http://www.anyvoid.ru/"} AnyVoid
  , Москва
