%section#reports.b-reporters.l-page_gap-top_25
  %span.b-reporters__count
    %i.b-reporters__count-number 17
  %h2.b-reporters__title
    Докладчики
  %p.b-reporters__title-text
    На нашей конференции выступят только те докладчики, которые смогут
    %br/
    прежде чем рассказывать &laquo;как&raquo;, рассказать «зачем».
  #carousel.b-reporters__persons.b-reporters__carousel.js-b-reporters__carousel.slide
    .carousel-inner
      .item.clearfix.active
        .b-reporters__person
          .b-reporters__person-photo
            %img{:alt => "", :src => "blocks/b-reporters/reporter_1.png"}/
          %h2.b-reporters__person-name
            Ольга Павлова
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Технологии вовлечения заказчика в процессы визуализации интерфейсов&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "#"}>
              КБ &laquo;Собака @Павлова&raquo;
            , Питер
        .b-reporters__person
          .b-reporters__person-photo
            %img{:alt => "", :src => "blocks/b-reporters/reporter_2.png"}/
          %h2.b-reporters__person-name
            Артем Поликарпов
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Технолог - тоже дизайнер&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "#"}>
              Бюро Артема Горбунова
            , Боровичи
        .b-reporters__person
          .b-reporters__person-photo
            %img{:alt => "", :src => "blocks/b-reporters/reporter_3.png"}/
          %h2.b-reporters__person-name
            Максим Трескин
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Как начиналось Erlyvideo от бутстрапа до продукта&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "#"}>
              Metachord
            , Новосибирск
        .b-reporters__person
          .b-reporters__person-photo
            %img{:alt => "", :src => "blocks/b-reporters/reporter_4.png"}/
          %h2.b-reporters__person-name
            Алексей Кривицкий
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Новейшая история менеджмента. От эры стагнации к периоду ренессанса&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "#"}>
              Scrum Guides
            , Киев
      .item.clearfix
        .b-reporters__person
          .b-reporters__person-photo
            %img{:alt => "", :src => "blocks/b-reporters/reporter_2.png"}/
          %h2.b-reporters__person-name
            Артем Поликарпов
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Технолог - тоже дизайнер&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "#"}>
              Бюро Артема Горбунова
            , Боровичи
        .b-reporters__person
          .b-reporters__person-photo
            %img{:alt => "", :src => "blocks/b-reporters/reporter_1.png"}/
          %h2.b-reporters__person-name
            Ольга Павлова
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Технологии вовлечения заказчика в процессы визуализации интерфейсов&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "#"}>
              КБ &laquo;Собака @Павлова&raquo;
            , Питер
        .b-reporters__person
          .b-reporters__person-photo
            %img{:alt => "", :src => "blocks/b-reporters/reporter_3.png"}/
          %h2.b-reporters__person-name
            Максим Трескин
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Как начиналось Erlyvideo от бутстрапа до продукта&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "#"}>
              Metachord
            , Новосибирск
        .b-reporters__person
          .b-reporters__person-photo
            %img{:alt => "", :src => "blocks/b-reporters/reporter_4.png"}/
          %h2.b-reporters__person-name
            Алексей Кривицкий
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Новейшая история менеджмента. От эры стагнации к периоду ренессанса&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "#"}>
              Scrum Guides
            , Киев
    %a.b-reporters__carousel-control.carousel-control.left{"data-slide" => "prev", :href => "#carousel"}
    %a.b-reporters__carousel-control.carousel-control.right{"data-slide" => "next", :href => "#carousel"}
