%section#reports.b-reporters.l-page_gap-top_5
  %span.b-reporters__count
    %i.b-reporters__count-number 22
  %h2.b-reporters__title
    Докладчики
  %p.b-reporters__title-text
    На нашей конференции выступят только те докладчики, которые смогут
    %br/
    прежде чем рассказывать &laquo;как&raquo;, рассказать «зачем».
  = render :partial => 'speakers_carousel'
