#carousel.b-reporters__persons.b-reporters__carousel.js-b-reporters__carousel.slide
  .carousel-inner.carousel-speakers
    = render :partial => "home/all_speakers", :locals => {:carousel => true}

  %a.b-reporters__carousel-control.carousel-control.left{"data-slide" => "prev", :href => "#carousel"}
  %a.b-reporters__carousel-control.carousel-control.right{"data-slide" => "next", :href => "#carousel"}
  %p.l-page_align_center
    %a.b-reporters__person-theme-link.b-reporters__person-theme-link_type_ptsans{:href => speakers_path}
      Все докладчики
