%section#reports.b-reporters.l-page_gap-top_5
  %span.b-reporters__count
    %i.b-reporters__count-number 24
  %h2.b-reporters__title
    Докладчики
  %ul.b-filter
    = render :partial => 'filter_speakers'
  = render :partial => 'speakers_carousel'
