%section#tikets.b-tikets.l-page_gap-top-out_50.l-page_gap-top_25
  .l-page_align_center.b-title__line.l-page_gap-bottom-out_40
    .b-title__inner
      %h2.b-title
        Билеты
  .b-tikets__methods.clearfix
    .b-tikets__method.b-tikets__method_state_active
      .b-tikets__link.js-b-tikets__link
        .clearfix
          .l-page_float_left.l-page_width_170
            %h2.b-tikets__method-title
              Тариф
              %br
              для всех
            .b-tikets__pricing.clearfix
              .b-tikets__pricing-date
                До 26 сентября
              .b-tikets__price-inner
                .b-price.b-price_type_early
                  %i.b-price__number
                    3200
                  %span.b-price__rubl
                    a
            %p.b-content__text
              %a.b-link{:href => 'http://happydev.tumblr.com/post/31846025256', :target => '_blank'}
                А чего так дорого?
          .l-page_float_right.l-page_width_250
            .b-tikets__content
              %p.b-tikets__content-title
                В стоимость участия входит:
              %ul.b-tikets__content-list
                %li.b-tikets__content-item
                  офигенные доклады на 3-х секциях;
                %li.b-tikets__content-item
                  полезные знакомства и интересные собеседники;
                %li.b-tikets__content-item
                  масса озарений и полезных практик на каждый день;
                %li.b-tikets__content-item
                  кофе, чай, сладости и солености в течение всего дня.
        %p.b-tikets__buy
          = link_to 'Купить билет', pay_path, :class => 'b-button', :data => { :metrika => true,
                                                                               :target => 'buy_general_ticket_test' }
    .b-tikets__method
      .b-tikets__link.js-b-tikets__link
        .clearfix
          .l-page_float_left.l-page_width_170
            %h2.b-tikets__method-title
              Тариф студенческий
            .b-tikets__pricing.clearfix
              .b-tikets__pricing-date
                До 26 сентября
              .b-tikets__price-inner
                .b-price.b-price_type_green
                  %i.b-price__number
                    500
                  %span.b-price__rubl
                    a
            %p.b-content__text
              %a.b-link{:href => '/students'}
                А можно бесплатно?
          .l-page_float_right.l-page_width_250
            .b-tikets__content
              %p.b-tikets__content-title
                В стоимость участия входит:
              %ul.b-tikets__content-list
                %li.b-tikets__content-item
                  %a.b-link{:href => '/students'}> специальные доклады на студенческом потоке
                  \;
                %li.b-tikets__content-item
                  возможность встретить своего будущего работодателя;
                %li.b-tikets__content-item
                  возможность посетить доклады на основных секциях;
                %li.b-tikets__content-item
                  все то же самое, что и за полную цену;
                
        %p.b-tikets__buy
          = link_to 'Купить билет', pay_path(:student => true), :class => 'b-button', :data => { :metrika => true,
                                                                                                 :target => 'buy_student_ticket_test' }
