#content.container
  .row.hero-unit
    .span9
      %p
        Первая
        %b{:style =>"color:#dd0000;"} большая IT-конферениция
        в Омске
        %br
        для разработчиков, дизайнеров и менеджеров
        %br
        %br
        <!-- Обсудим: <span style="color:#043A6B">разработка и технологии</span>, <span style="color:#52026E">дизайн и юзабилити</span>, <span style="color:#6B9B00">управление</span><br/> -->
        %b{:style => "color:#FF7800;"} 29 сентября
        в конгресс-холле "Континент"
    .span3
      %p.ac
        - if user_signed_in?
          -#= link_to 'Перейти в профиль', edit_user_registration_path, :class => 'btn btn-large btn-primary'
          Вы зарегистрировались на HappyDev.
        - else
          = link_to 'Регистрация', new_user_registration_path, :class => 'btn btn-large btn-primary'

#carousel.carousel.slide{:rel => "carousel"}

  .carousel-inner
    .active.item
      %h1{:style => "width:950px;position:absolute;top:50px;text-align:center;left:50%;margin-left:-480px;line-height:1.2em;font-weight:800;color:#fff;font-size:98px;"} HAPPINESS DRIVEN DEVELOPMENT
      <!-- ОСОЗНАНИЕ ⦁ ЗДРАВЫЙ СМЫСЛ ⦁ КОМПЕТЕНТНОСТЬ -->
      = image_tag "city.jpg"
  <!-- <h2 style="width:950px;position:absolute;top:280px;text-align:center;left:50%;margin-left:-480px;line-height:1.2em;font-weight:800;color:#fff;font-size:34px;">СТАРТАП ⦁ ПРОДУКТ ⦁ ФАБРИКА ПРОЕКТОВ</h2> -->

  <!-- <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a> -->

#content.container
  .row.hero-unit
    .span12
      %h1 На нашей конференции выступят только те докладчики, которые смогут прежде чем рассказывать «как», рассказать «зачем»:

  #selected-speakers
    .row
      = render :partial => 'speakers'
  %hr
  .row.hero-unit
    .span12
      %h1 Мы хотим повысить уровень осмысленности у всех участников процесса разработки. Три секции задают главное - контекст:
  
  .sections{:style => "font-size:1.3em"}
    .row
      = render :partial => 'sections'
  
