%h1 Публичная оферта о заключении договора на участие в конференции «HappyDev»

%pre 
  Настоящий документ «Публичная оферта о заключении договора на участие в конференции «HappyDev» (далее — «Оферта») представляет собой предложение ИП Тарасенко Анна Геннадьевна именуемого в дальнейшем «Исполнитель», заключить договор возмездного оказания услуг (далее – «Договор») на изложенных ниже условиях со всяким лицом, которое примет данное предложение (далее по тексту – «Заказчик»). При совместном упоминании Исполнитель и Заказчик далее именуются «Стороны».
 
  1. Порядок заключения Договора 
  1.1. Оферта считается принятой Заказчиком и Договор заключенным Сторонами с момента выполнения Заказчиком совокупности следующих действий:
  а) Подачи заявки на участие в конференции «HappyDev» в электронной форме на сайте Исполнителя по адресу: http://happydev.ru/invoices/new.
  Направление заявки осуществляется после ознакомления с текстом Оферты, установки флажка напротив фразы «С условиями Публичной оферты ознакомлен и согласен»  и активации гипертекстового элемента (кнопки), содержащего надпись «Оплатить». Направление заявки является основанием для выставления счета на заказанные услуги в электронной форме.
  б) Оплаты Заказчиком выставленного счета в течение установленного срока.
  Договор считается заключенным в отношении указанных в счете услуг с момента его оплаты в установленный срок.
  1.2. В соответствии с пунктом 3 статьи 434 и пунктом 3 статьи 438 ГК РФ письменная форма Договора считается соблюденной, если лицо, получившее оферту, в срок, установленный для ее акцепта, совершает действия по выполнению указанных в оферте условий Договора, в том числе действия по оплате услуг Исполнителя.
  
  2. Предмет Договора 
  2.1. Исполнитель обязуется организовать оказание Заказчику информационно-консультационных услуг (далее — «Услуги») в рамках проведений конференции «HappyDev» (далее по тексту — «Конференция») на изложенных ниже условиях.
  2.2. Место проведения Конференции: г. Омск, Экспоцентр, ул. 70 лет Октября, д. 25, к. 2.
  2.3. Время проведения Конференции: 29 сентября 2012 года.
  2.4. Программа Конференции размещена на сайте Исполнителя по адресу: http://happydev.ru/program и может изменяться по усмотрению Исполнителя.
  
  3. Стоимость Услуг и порядок расчетов 
  3.1. Стоимость Услуг указывается в счете на основании тарифов, размещенных на сайте Исполнителя по адресу: http://happydev.ru/pay.
  3.2. Помимо прочего стоимость Услуг включает в себя стоимость раздаточных материалов и кофе-паузы.
  3.3. Заказчик обязуется оплатить Услуги на условиях 100% предоплаты в срок не позднее 5 (пяти) дней до начала проведения Конференции.
  3.4. Оплата Услуг производится путем перечисления денежных средств на расчетный счет Исполнителя, указанный в разделе 5.
  3.5. В случае если Заказчиком является физическое лицо, оплата Услуг допускается с использованием следующих электронных платежных систем: Яндекс.Деньги, WebMoney.
  3.6. Акт оказанных услуг передается Заказчику через его представителя, участвующего в Конференции, в день ее завершения. Заказчик обязуется подписать Акт в день получения либо направить Исполнителю письменные возражения в тот же срок. В случае неполучения подписанного акта или письменных возражений в установленный срок, Услуги считаются принятыми Заказчиком в полном объеме без замечаний.
  
  4. Заключительные условия 
  4.1. Договор вступает в силу с момента принятия Оферты Заказчиком и действует до полного выполнения Сторонами своих обязательств.
  4.2. Договор может быть расторгнут в порядке, предусмотренном действующим законодательством Российской Федерации.
  4.3. Заказчик вправе отказаться от заключения Договора, направив Исполнителю письменное уведомление не менее чем за 14 (Четырнадцать) дней до предполагаемой даты отказа. В случае отказа от Договора в более поздние сроки в том числе при отсутствии Заказчика или направленных им участников на Конференции или любой ее части перерасчет стоимости Услуг не производится и уплаченные денежные средства не возвращаются.
  4.4. В случае невыполнения или ненадлежащего выполнения своих обязательств Стороны несут ответственность в соответствии с положениями Договора и действующего законодательства Российской Федерации.
  4.5. Исполнитель не несет ответственности за способы и результаты использования Заказчиком информации, полученной в ходе оказания Услуг.
  4.6. Стороны принимают меры к разрешению всех споров и разногласий, вытекающих из Договора или в связи с его исполнением, путем переговоров. Срок рассмотрения претензии устанавливается в 30 (тридцать) дней с момента ее получения Стороной.
  4.7. В случае невозможности разрешения возникших споров и разногласий путем переговоров, такие споры и разногласия подлежат рассмотрению в суде по месту нахождения Исполнителя.
  4.8. Заключая Договор, Заказчик свободно, своей волей и в своем интересе дает бессрочное безотзывное письменное согласие на использование любых указанных в нем или предоставленных отдельно персональных данных в связи с заключением и/или исполнением Договора, в том числе указании на сайте Исполнителя, являющимся общедоступными источником персональных данных, а также иные способы обработки таких персональных данных, включая любое действие (операцию) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, в том числе сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
  4.9. В случае предоставления Заказчиком персональных данных третьих лиц, Заказчик дает разрешение на их использование в соответствии с п.4.8. и гарантирует получение письменного согласия указанных лиц на такое использование. Ответственность за нарушение данного требования в полном объеме возлагается на Заказчика.
  4.10. Исполнитель оставляет за собой право осуществлять аудио, видео и фотосъемку в рамках проводимой Конференции, которая может быть использована для любых целей, включая подтверждение участия Заказчика в Конференции.
  4.11. Заказчику и направленным им участникам Конференции запрещается осуществлять аудио, видео и фотосъемку без специального письменного разрешения Исполнителя.
  4.12. Все уведомления и прочие документы по Договору должны направляться по адресам, указанным в относящейся к нему заявке и настоящей Оферте. Уведомления и прочие документы в письменной форме направляются заказным почтовым отправлением или курьерской службой с подтверждением доставки, прочие сообщения могут направляться по факсу или электронной почте с/ на указанных (-ые) в соответствующей заявке или настоящей Оферте номеров (-а)/ адресов (-а) электронной почты.
  4.13 Стороны вправе в любое время оформить Договор на оказание Услуг на условиях настоящей Оферты в форме одного документа, подписанного обеими Сторонами.
  4.14. Действующая редакция Оферты размещена на сайте Исполнителя и доступна в сети Интернет по адресу: http://happydev.ru/oferta.

  5. Реквизиты Исполнителя
  ИП Тарасенко Анна Геннадьевна
  Свид. серия 55 №  003483075 от 21 июня 2010 года, выдано Межрайонной инспекцией Федеральной налоговой службы №12 по Омской области
  ОГРН: 310554317200054
  ИНН: 550108845680
  Р/с: 40802810023050000115 в филиале Новосибирский ОАО "АЛЬФА-БАНК"
  К/с: 30101810600000000774
  БИК: 045004774

  Контактное лицо: Анна Геннадьевна Тарасенко
  Тел.: +7 (909) 535–00–73 
  Email: org@happydev.ru
  Редакция от 01 сентября 2012 г.
  © ИП Тарасенко Анна Геннадьевна, 2012
