

%h1 Стоимость участия в HappyDev 2012

%pre
  Участие в HappyDev 2012 платное.
  Стоимость конференции до 9 сентября включительно составляет 2200 рублей, до 16 сентября включительно - 2700 рублей, до 24 сентября включительно - 3200 рублей. Полноценный горячий обед оплачивается отдельно и стоит 350 рублей.

  Возможны скидки для групп от 5 человек.

  %b Варианты оплаты
  Оплата участия в HappyDev возможна почти любым способом: по безналичному расчету, на кошелек Яндекс.Денег, Visa, Webmoney и т.д.

  Если вы оплачиваете сразу после регистрации, то просто нажмите кнопку «Оплатить» на соответствующей странице и выберите подходящий вариант оплаты. Всё произойдёт автоматически.

  %b Реквизиты для оплаты безналом:
  ИП Тарасенко Евгений Александрович
  Свид. серия 55 № 003644624 от 31 августа 2012 года, выдано Межрайонной инспекцией Федеральной налоговой службы №12 по Омской области
  ОГРН: 312554324400091
  ИНН: 550201507501
  Р/с: 40802810118100013269 в омском филиале «Центральный» ОАО АКБ «Авангард»
  К/с: 30101810000000000201
  БИК: 044525201