

%h1 Стоимость участия в HappyDev 2012

%pre
  Участие в HappyDev 2012 платное.
  Стоимость конференции до 9 сентября включительно составляет 2200 рублей, до 16 сентября включительно - 2700 рублей, до 24 сентября включительно - 3200 рублей. Полноценный горячий обед оплачивается отдельно и стоит 350 рублей.

  Возможны скидки для групп от 10 человек.

  %b Варианты оплаты
  Оплата участия в HappyDev возможна почти любым способом: по безналичному расчету, на кошелек Яндекс.Денег, Visa, Webmoney и т.д.

  Если вы оплачиваете сразу после регистрации, то просто нажмите кнопку «Оплатить» на соответствующей странице и выберите подходящий вариант оплаты. Всё произойдёт автоматически.

  %b Реквизиты для оплаты безналом:
  ИП Тарасенко Анна Геннадьевна
  Свид. серия 55 №  003483075 от 21 июня 2010 года, выдано Межрайонной инспекцией Федеральной налоговой службы №12 по Омской области
  ОГРН: 310554317200054
  ИНН: 550108845680
  Р/с: 40802810023050000115 в филиале Новосибирский ОАО "АЛЬФА-БАНК"
  К/с: 30101810600000000774
  БИК: 045004774
