= render :partial => 'layouts/logo'

.l-page_width_page
  .b-content

  %h1.b-content__title
    Стоимость участия в HappyDev 2012

  %p.b-content__text
    Участие в HappyDev 2012 платное.
  %p.b-content__text
    Стоимость конференции до 9 сентября включительно составляет 2200 рублей, до 16 сентября включительно - 2700 рублей, до 24 сентября включительно - 3200 рублей. Полноценный горячий обед оплачивается отдельно и стоит 350 рублей.
  %p.b-content__text
    Возможны скидки для групп от 5 человек.

  %h2.b-content__title.b-content__title_type_small
    Варианты оплаты

  %p.b-content__text
    Оплата участия в HappyDev возможна почти любым способом: по безналичному расчету, на кошелек Яндекс.Денег, Visa, Webmoney и т.д.
  %p.b-content__text
    Если вы оплачиваете сразу после регистрации, то просто нажмите кнопку «Оплатить» на соответствующей странице и выберите подходящий вариант оплаты. Всё произойдёт автоматически.

  %h2.b-content__title.b-content__title_type_small
    Реквизиты для оплаты безналом
  %p.b-content__text
    ИП Тарасенко Евгений Александрович
    %br
    Свид. серия 55 № 003644624 от 31 августа 2012 года, выдано Межрайонной инспекцией Федеральной налоговой службы №12 по Омской области
    %br
    ОГРН: 312554324400091
    %br
    ИНН: 550201507501
    %br
    Р/с: 40802810118100013269 в омском филиале «Центральный» ОАО АКБ «Авангард»
    %br
    К/с: 30101810000000000201
    %br
    БИК: 044525201
