%style
  :sass

    .speeches

      ul.startup .speech-title
        color: #9D0019
      ul.product .speech-title
        color: #007241
      ul.factory .speech-title
        color: #130873
      ul.common .speech-title
        color: #A67800
      ul
        li
          list-style: none
          margin-bottom: 10px

          .speaker-name
            font-size: 1.4em

          .speech-title
            font-size: 1.2em  
            
        .not-available
          color: gray !important




#content.container

  %h1 Доклады

  .speeches

    %h2 Общие

    %ul.common
      %li
        .speaker-name 
          %a{:href => "http://resume.krivitsky.com"} Алексей Кривицкий
        .speech-title Новейшая история менеджмента. От эры стагнации к периоду ренессанса
      %li
        .speaker-name 
          %a{:href => "http://www.telamon.ru/"} Яков Сироткин
        .speech-title Автобус не придет

    %h2 Стартапы

    %ul.startup
      %li
        .speaker-name 
          %a{:href => "http://maxtreskin.moikrug.ru/"} Максим Трескин
        .speech-title Erlyvideo. Why Erly?
      %li
        .speaker-name 
          %a{:href => "http://yurypodorozhnyy.moikrug.ru/"} Юрий Подорожный
        .speech-title Как мы делали «Книгу вслух»
      %li
        .speaker-name 
          %a{:href => "http://parakee.moikrug.ru/"} Рамиль Шайхутдинов
        .speech-title.not-available тема уточняется
      %li
        .speaker-name 
          %a{:href => "http://leonidvolkov.ru/obo_mne/"} Леонид Волков
        .speech-title Зачем стартапу деньги?

    %h2 Продуктовая разработка
    %ul.product
      %li
        .speaker-name 
          %a{:href => "http://www.pavlova.cc/"} Ольга Павлова
        .speech-title Технологии вовлечения заказчика в процессы визуализации интерфейсов
      %li
        .speaker-name 
          %a{:href => "http://kudyimovaleksandr.moikrug.ru/"} Александр Кудымов
        .speech-title Путь самурая от скрама до канбана
      %li
        .speaker-name 
          %a{:href => "http://kudyimovaleksandr.moikrug.ru/"} Александр Кудымов
        .speech-title Счастье и эмоции в интерфейсах
      %li
        .speaker-name 
          %a{:href => "http://twitter.com/ksarn1"} Максим Гуртовенко
        .speech-title.not-available тема уточняется
      %li
        .speaker-name 
          %a{:href => "http://alexclear.moikrug.ru/"} Александр Чистяков
        .speech-title Большой веб-проект: развитие, рост, проблемы, решения с точки зрения отдела эксплуатации

    %h2 Фабрика проектов
    %ul.factory
      %li
        .speaker-name 
          %a{:href => "http://scrumtrek.ru/company/team/"} Никита Филиппов
        .speech-title.not-available тема уточняется
      %li
        .speaker-name 
          %a{:href => "http://artpolikarpov.moikrug.ru/"} Артем Поликарпов
        .speech-title Технолог - тоже дизайнер
      %li
        .speaker-name 
          %a{:href => "http://nocorp.me/"} Саша Косс
        .speech-title Легкий способ бросить писать плохой код
      %li
        .speaker-name 
          %a{:href => "http://antonyazovskiy.moikrug.ru/"} Антон Язовский
        .speech-title Marklogic: как обуздать сотни гигабайт неструктурированных данных
      %li
        .speaker-name 
          %a{:href => "http://tarasenkoanna2.moikrug.ru/"} Анна Тарасенко
        .speech-title Война миров: Хипстеры против Enterprise
      %li
        .speaker-name 
          %a{:href => "http://byndyu.ru/"} Александр Бындю
        .speech-title.not-available тема уточняется
      



