#content.container
  %h1 Реквизиты:

  %pre
    = preserve do
      :escaped
        ИП Тарасенко Анна Геннадьевна
        Свид. серия 55 №  003483075 от 21 июня 2010 года, выдано Межрайонной инспекцией Федеральной налоговой службы №12 по Омской области
        ОГРН: 310554317200054
        ИНН: 550108845680
        Адрес: Россия, г. Омск, ул. Нефтезаводская д. 28 к. 2 кв. 87
        Р/с: 40802810023050000115 в филиале Новосибирский ОАО "АЛЬФА-БАНК"
        К/с: 30101810600000000774
        БИК: 045004774

  %h1 Контакты:
  %pre
    = preserve do
      :escaped
        Тел: +7 (909) 535-00-73
        E-mail: org@happydev.ru
        Адрес: Омск, Учебная 83, офис 212

