.l-page_width_page
  = render :partial => 'layouts/logo'
  .l-page_gap-top-out_50.l-page_gap-bottom-out_40
    .l-page_align_center.b-title__line
      .b-title__inner
        %h2.b-title
          Студентам
  .clearfix
    .l-page_float_left.l-page_width_280
    .l-page_float_right.l-page_width_645
      %h1.b-content__title
        Дорогие студенты старших курсов!
  .clearfix
    .l-page_float_left.l-page_width_280
      .l-page_width_250
        %p.b-content__text.l-page_gap-bottom-out_30
          %h3 Стоимость участия
          %p.b-content__text.l-page_width_230
            До 21 сентября
            %b.b-content__price.l-page_float_right
              500
              %span.b-price__rubl.b-price__rubl_type_black
                a
          %p.b-content__text.l-page_width_230
            Для самых неторопливых
            %b.b-content__price.l-page_float_right
              750
              %span.b-price__rubl.b-price__rubl_type_black
                a
          %p.b-content__text.l-page_width_230
            + вкусный горячий обед
            %b.b-content__price.l-page_float_right
              350
              %span.b-price__rubl.b-price__rubl_type_black
                a

          %p{:style => "text-align:center"}
            = link_to 'Купить билет', pay_path(:student => true), :class => 'b-button'


          .b-speaking.b-speaking_style_green
            .b-speaking__title-inner
              %h2.b-speaking__title
                Халява
            %p.b-content__text
              Три автора самых стоящих ответов на <a href="http://tinyurl.com/happydev-2012">эти вопросы</a> смогут попасть на конференцию бесплатно!
    .l-page_float_right.l-page_width_645
      .b-content
        %p.b-content__text
          Специально для вас мы готовим дополнительный поток, поскольку не все доклады на основных секциях будут вам
          интересны - все-таки они расчитаны на специалистов с опытом. Поэтому представители компаний &dash;
          как омских, так и иногородних - выступят в отдельном студенческом потоке.
        %p.b-content__text
          %b
            О чем вы там узнаете?

        %ul.b-content__list
          %li.b-content__list-item
            о ценности высшего образования с точки зрения работодателя
          %li.b-content__list-item
            о том, какие направления ИТ сейчас наиболее перспективны
          %li.b-content__list-item
            о самообразовании
          %li.b-content__list-item
            как стать действительно востребованным специалистом
          %li.b-content__list-item
            какие спецкурсы в каких вузах проводятся
          %li.b-content__list-item
            где в Омске можно пройти стажировку
        %p.b-content__text
          Все, кто будут выступать, являются представителями компаний вплоть до владельцев, успешными фрилансерами,
          преподавателями вузов, совмещающих эту деятельность с работой в ИТ-компании. Эти люди знают рынок ИТ в Омске и за его пределами не по наслышке.
        / %p.b-content__text
        /   Стоимость участия в конференции для неработающего студента - от 0 до 750 рублей. Еще за 350 рублей вас
        /   накормят вкусным горячим обедом.
