%br
%br

.l-page_width_page
  .b-content
    :markdown
      ## Дорогие студенты старших курсов!

  .b-content{:style => "font-family: Arial, sans-serif; font-size: 15px"}
    :markdown
      Специально для вас мы готовим дополнительный поток, поскольку не все доклады на основных секциях будут вам интересны - все-таки они расчитаны на разработчиков и менеджеров с опытом. Поэтому представители компаний - как омских, так и иногородних - выступят в отдельном студенческом потоке. О чем вы там узнаете?
       
      * о ценности высшего образования с точки зрения работодателя
      * о том, какие направления ИТ сейчас наиболее перспективны
      * о самообразовании
      * как стать действительно востребованным специалистом
      * какие спецкурсы в каких вузах проводятся
      * где в Омске можно пройти стажировку

      Все, кто будут выступать, являются представителями компаний вплоть до владельцев, успешными фрилансерами, преподавателями вузов, совмещающих эту деятельность с работой в ИТ-компании. Эти люди знают рынок ИТ в Омске и за его пределами не по наслышке. 

      Стоимость участия в конференции для неработающего студента - от 0 до 750 рублей. Еще за 350 рублей вас накормят вкусным горячим обедом.

      Регистрироваться придется через черный ход: [http://tinyurl.com/happydev-2012](http://tinyurl.com/happydev-2012)
      
      Три автора самых стоящих ответов смогут попасть на конференцию бесплатно! Для тех, кто успеет зарегистрироваться до 21 сентября -  стоимость составит 500 рублей, а для самых неторопливых - 750 рублей.