.b-title__line {
    position: relative;
    border-top: 1px solid #c1c1c2;
}

.b-title__inner {
    position: absolute;
    left: 0;
    top: -18px;
    right: 0;
    text-align: center;
}

.b-title {
    margin: 0;
    display: inline-block;
    padding: 0 20px;
    font-weight: normal;
    background: #f1f1f3;
    color: #333;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
}

.ie7 .b-title {
    display: inline;
}