%p.b-programm__text
  Александр Чистяков
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Большой веб-проект: развитие, рост, проблемы, решения с точки зрения отдела эксплуатации
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 18:00-18:40
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag 'speakers/chistyakov.jpg', :class => 'b-programm__desc-photo', :alt => "Александр Чистяков"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Александр Чистяков
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} Большой веб-проект: развитие, рост, проблемы, решения с точки зрения отдела эксплуатации
    %p.b-programm__desc-text
