%p.b-programm__text
  Артем Кудзев
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Темная сторона продуктовой разработки
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    .b-time
      %span.b-time__icon
      %span.b-time__text.b-time__text_type_with-gap-out
        10:25 - 11:10
      %span.b-time__text
        ____ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag 'speakers/kudzev.jpg', :class => 'b-programm__desc-photo', :alt => "Артем Кудзев"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Артем Кудзев
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => static_path(:kudzev)} Темная сторона продуктовой разработки
    %p.b-programm__desc-text
      Доклад об особенностях продуктовой разработки, скрытых от внешнего наблюдателя.
      Автор на собственном опыте работы в компании 2гис расскажет о работе с
      внутренним заказчиком и об управлении продуктом и командой
