%p.b-programm__text
  Артем Кудзев
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Темная сторона продуктовой разработки
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 10:25-11:10
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag '', :class => 'b-programm__desc-photo', :alt => "Артем Кудзев"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Артем Кудзев
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} Темная сторона продуктовой разработки
    %p.b-programm__desc-text
      Доклад об особенностях продуктовой разработки, скрытых от внешнего наблюдателя.
      Автор на собственном опыте работы в компании 2гис расскажет о работе с
      внутренним заказчиком и об управлении продуктом и командой
