- title "Круглый стол по проблемам ИТ-образования"

= render :partial => 'layouts/logo'

.l-page_width_page
  .b-content
    .l-page_align_center
      %h1.b-content__title Круглый стол по проблемам ИТ-образования
    .problems.clearfix
      %h2.l-page_align_center Проблемы
      .l-page_float_left.l-page_width_half
        %h2.l-page_align_center Бизнес
        %ul.b-content__list
          %li.b-content__list-item В вузах не готовят "чистых" программистов
          %li.b-content__list-item Однако без базовых знаний по высшей математике специалист неполноценен
          %li.b-content__list-item Мало выпускников способны понимать разные предметные области
          %li.b-content__list-item ВУЗовская бюрократия препятствует проведению занятий со студентами и стажировок
          %li.b-content__list-item Жесткая конкуренция за кадры между компаниями
          %li.b-content__list-item Нехватка специалистов по микропроцессорам (РЖД)
          %li.b-content__list-item Нет осознания ответственности у молодого специалиста
      .l-page_float_right.l-page_width_half
        %h2.l-page_align_center Вузы
        %ul.b-content__list
          %li.b-content__list-item Мало хорошей подготовки в школе - приходится делать коррекционные курсы
          %li.b-content__list-item Нет хороших кадров в школе - некому заниматься этой подготовкой
          %li.b-content__list-item От современности отстали даже Москва и Питер
          %li.b-content__list-item ВУЗы не знают проблем бизнеса - готовят специалистов "по старинке"
          %li.b-content__list-item Формальное начало обучения без учета разного уровня первокурсников
          %li.b-content__list-item Демографическая яма
          %li.b-content__list-item Целевой набор
          %li.b-content__list-item Мало дополнительного образования в школе и в ВУЗе
    .solutions.clearfix
      %h2.l-page_align_center Решения
      .list{:style => 'overflow:auto;'}
        .l-page_float_left.l-page_width_half
          %h2.l-page_align_center Бизнес
          %ul.b-content__list
            %li.b-content__list-item Создавать систему дистанционного образования с сертификацией
            %li.b-content__list-item Помогать техническим вузам оборудованием, всем - компьютерами
            %li.b-content__list-item Идти в вузы учить студентов, а не набирать сотрудников
            %li.b-content__list-item Брать студентов на практику, давать им картину отрасли
            %li.b-content__list-item Повышать квалификацию учителей и преподавателей посредством курсов повышения и спецсеминаров
            %li.b-content__list-item Стажеров отпускать доучиваться, делать курсовые и дипломные работы на базе компаний
            %li.b-content__list-item Организовывать рабочие группы с вузами по улучшению программ обучения
        .l-page_float_right.l-page_width_half
          %h2.l-page_align_center Вузы
          %ul.b-content__list
            %li.b-content__list-item Создавать профильные лаборатории
            %li.b-content__list-item Организовывать со своей стороны возможность прохождения практики в компаниях
            %li.b-content__list-item Нужно зажечь студента - показывать истории успеха выпускников
            %li.b-content__list-item Собирать всеми способами перспективных школьников
            %li.b-content__list-item Вырастить преподавателей и дать зарплату
            %li.b-content__list-item Модифицировать систему олимпиад
            %li.b-content__list-item Больше непрерывной практики для студентов - хотя бы 1 месяц подряд
            %li.b-content__list-item Начать непрерывные стажировки в компаниях с магистрантов
            %li.b-content__list-item Давать больше информации студентам о потенциальных местах работы
      %p.l-page_align_center Вести совместный бизнес
    .clearfix.l-page_align_center
      %h2.b-content__title Первые шаги
      %ul.b-content__list.l-page_align_left{:style => 'display: inline-block;'}
        %li.b-content__list-item 4 октября - круглый стол
        %li.b-content__list-item itsiberia.ru
        %li.b-content__list-item Ревью программ
        %li.b-content__list-item Обратная связь вузам
        %li.b-content__list-item Обучение школьников на территории компаний
