.b-organizers {
    margin: 35px 0 0;
}

.b-organizers__inner {
    margin: 0 0 35px;
}

.b-organizers__title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    letter-spacing: 2px;
}

.b-organizers__row {
    margin: 30px 0 0;
}

.b-organizers__row:first-child {
    margin: 0;
}

.b-organizers__link {
    margin: 0 0 0 30px;
    text-decoration: none;
}

.b-organizers__link:first-child {
    margin: 0;
}