%p.b-programm__text
  Никита Филиппов
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Как сделать идею привлекательной для бизнес-ангела&raquo;
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 16:00-16:20
    Зеленый зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      %img.b-programm__desc-photo{:alt => "Никита Филиппов Как сделать идею привлекательной для бизнес-ангела", :src => "blocks/b-reporters/reporter_2.png"}/
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Никита Филиппов
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "index.html"} Как сделать идею привлекательной для бизнес-ангела&raquo;
    %p.b-programm__desc-text
      
