%p.b-programm__text
  Сироткин
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} _________название_доклада_______
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 10:25-11:10
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      %img.b-programm__desc-photo{:alt => "_____имя_фамилия____", :src => "blocks/b-reporters/reporter_3.png"}/
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Ольга Павлова
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} ____название_доклада__________
    %p.b-programm__desc-text
      __________тезисы________________
      ________________________________
      ________________________________
