%p.b-programm__text
  Сироткин
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Автобус не придет
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 14:20-15:00
    ________ зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag 'speakers/sirotkin.jpg', :class => 'b-programm__desc-photo', :alt => "Сироткин"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Сироткин
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "#"} Автобус не придет
    %p.b-programm__desc-text
      Доклад об актуальных проблемах индустрии разработки 
      программного обеспечения и о том, какие перспективы открывает нам биоинформатика
