.b-title {
  letter-spacing: 0px !important; 
  font-family: 'PF Din Text Cond Pro Regular' !important;
}

th {
  letter-spacing: 0px !important; 
  font-family: 'PF Din Text Cond Pro Regular' !important;
}

.b-programm__text {
  font-family: 'PF Din Text Cond Pro Regular' !important;
}

.organizers-pdf {
  text-align: center;
  margin-top: 3mm;
}

img.b-organizers__logo {
  margin: -5mm 5mm 0 0;
  height: auto;
  max-height: 14mm;
}

header { 
  display: none;
}

.b-pdf__header_logo {
  height: auto;
  max-height: 10mm;
}

section {
  padding-top: 40px !important;
}

.pdf-logo img{
  max-height: 10mm;
}

.b-icon__item img{
  width: 20px;
}

.b-programm__theme-link {
  border-bottom: 0px;
}
