= simple_form_for(@payment, :url => payment_path(@payment), :html => { :class => 'form-horizontal' }) do |f|
  -# = f.input :user_id
  
  = f.association :events,
                  :collection => [ @events.first ],
                  :checked => @events.first.id,
                  :as => :check_boxes, 
                  :label => 'Я хочу принять участие в:'

  #price.control-group
    %label.control-label Цена
    .controls
      == 2000

  .form-actions
    = f.submit 'Готово', :class => 'btn-primary'
