%p.b-programm__text
  Максим Трескин
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Erlyvideo. Why Erly?&raquo;
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 12:20-13:10
    Зеленый зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      %img.b-programm__desc-photo{:alt => "Максим Трескин Erlyvideo. Why Erly?", :src => "blocks/b-reporters/reporter_2.png"}/
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Максим Трескин
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "index.html"} Erlyvideo. Why Erly?&raquo;
    %p.b-programm__desc-text
      Для создания серверных приложений существует 
      огромный выбор технологий: Java, C++, Erlang. 
      Как не потеряться и выбрать нужный инструмент, 
      если хочется получить работающую, предсказуемую, 
      легко модифицируемую систему, способную обслуживать 
      максимальное количество пользователей, вложив
      в её разработку минимум времени и денег? Ответ 
      на этот вопрос вы получите, посетив доклад
