%p.b-programm__text
  Леонид Волков
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Зачем стартапу деньги?&raquo;
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 15:05-15:50
    Зеленый зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      %img.b-programm__desc-photo{:alt => "Леонид Волков Зачем стартапу деньги?", :src => "blocks/b-reporters/reporter_2.png"}/
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Леонид Волков
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "index.html"} Зачем стартапу деньги?&raquo;
    %p.b-programm__desc-text
      Инстаграм стоит миллиард баксов? Да чему там столько стоить? 
      - возмущался едва не каждый, а каждый второй при этом думал 
      про себя: Вот мой проект - это действительно стоящая вещь.
      Наверняка! Но в мире есть много других проектов, которые 
      точно миллиарда не стоят - и в докладе речь пойдет о том, 
      почему это так.
      Многие цифры, которые звучат в связи с деятельностью венчурных 
      фондов, вызывают недоумение или усмешки - они кажутся то 
      очень завышенными, то очень заниженными, и уж точно, в любом 
      случае, абсолютно взятыми с потолка.
      На самом деле это не так: венчурная отрасль, как и любая другая 
      финансовая отрасль, управляется небольшим набором очень жестко 
      заданных параметров, выход за пределы которых ничего хорошего 
      не сулит, как это проверено столетней уже практикой. И эти 
      финансовые параметры стартапер должен знать и понимать: только 
      тогда он сможет адекватно заниматься фандрайзингом для своего 
      стартапа, на разных стадиях развития проекта обращаясь в подходящие 
      финансовые институты, и получая финансирование в необходимых 
      объемах и на правильных условиях
