%p.b-programm__text
  Леонид Волков
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Зачем стартапу деньги?
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 15:05-15:50
    Зеленый зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      = image_tag 'speakers/volkov.jpg', :class => 'b-programm__desc-photo', :alt => "Леонид Волков"
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Леонид Волков
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "index.html"} Зачем стартапу деньги?
    %p.b-programm__desc-text
      Доклад посвящен ключевым параметрам работы венчурного бизнеса
      как финансовой отрасли - в тех пределах, 
      в которых обязан ориентироваться каждый стартапер
