%p.b-programm__text
  Леонид Волков и Ольга Павлова 
%p.b-programm__theme
  %a.b-programm__theme-link{:href => "#"} Стартап-порка
.b-programm__desc.js-b-programm__desc
  .b-programm__desc-time
    %span.b-programm__desc-watch 17:20-18:40
    Зеленый зал
  .b-programm__desc-person
    .b-programm__desc-person-info-inner.clearfix
      -# %img.b-programm__desc-photo{:alt => "Леонид Волков и Ольга Павлова Стартап-порка", :src => "blocks/b-reporters/reporter_2.png"}/
      .b-programm__desc-person-info
        %h2.b-programm__desc-name
          Леонид Волков и Ольга Павлова
        %p.b-programm__desc-theme
          %a.b-programm__desc-theme-link{:href => "index.html"} Стартап-порка
    %p.b-programm__desc-text
      
