%p Привет!

%p Кажется, ты просил ссылку для восстановления пароля. Вот она:

%p= link_to 'Хочу поменять пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Если ты ничего такого не хотел и твой пароль при тебе, просто ничего не делай и все останется как прежде.