%p
  Дорогой друг!

%p
  Ты успешно зарегистрировался на первое крупное IT-мероприятие Омска - конференцию HappyDev!

%p{:style=> "font-size: 1.2em"}
  Сегодняшняя цена:
  = @invoice.events.where(:priority => 0).first.price
  рублей
%p
  Начиная с 19-го сентября стоимость увеличится до 3200 рублей

%p
  В стоимость участия входят:
  :markdown
    * Офигенные доклады на 3-х секциях
    * Возможность пообщаться с докладчиками в неформальной обстановке
    * Полезные знакомства и интересные собеседники
    * Масса озарений и полезных практик на каждый день
    * Кофе, чай, сладости и солености в течение всего дня

%p
  За дополнительные 350 рублей мы накормим тебя полноценным горячим обедом. 


%p Что осталось сделать:
%ol
  %li= link_to('Оплатить участие',pay_url)
  %li Позвать друзей
  %li Прийти 29 сентября в 9:30 к Экспоцентру по адресу <nobr>ул. 70 лет Октября, д. 25, к. 2</nobr>

%p Рады тебя видеть в наших рядах! До встречи на конференции.

%p 
  Организаторы <a href="http://happydev.ru">HappyDev</a>
