%p
  Дорогой друг!

%p
  Ты успешно зарегистрировался на первое крупное IT-мероприятие Омска - конференцию Happy Development!

%p
  Напоминаем, что она пройдет 29-го сентября в конгресс-холле Экспоцентра.

%p
  Участие стоит 2200 рублей, при оплате до 9 сентября. Начиная с 10-го сентября стоимость увеличится до 2700 рублей, а с 16 сентября - до 3200 рублей.
%p
  Оплата откроется со дня на день. Мы не дадим тебе пропустить этот момент и пришлем письмо со ссылкой.

%p
  В стоимость участия входят:
  :markdown
    * Офигенные доклады на 3-х секциях
    * Возможность задать вопросы гуру Интернет-бизнеса России и Украины, в том числе в неформальной беседе
    * Масса озарений и полезных практик на каждый день
    * Чай, кофе, печеньки в течение всего дня

%p
  За дополнительные 350 рублей мы накормим тебя полноценным горячим обедом. 
%p
  Мы несказанно рады приветствовать тебя среди активной части IT-тусовки Омска!
%p 
  Организаторы <a href="http://happydev.ru">HappyDev</a>
