.container {
  .devise-session {
    margin: 0 auto;
    width: 540px;

    .form-actions {
      a {
        margin-left: 10px;
      }
    }
  }
}

.signin-rememberable {
  input {
    float: left;
  }

  label {
    margin-left: 10px;
    float: left;
  }
}

.registration-big-status {
  display: inline-block;
  padding: 20px 20px 20px;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}
