.social-panel-on-footer {
  padding-top: 12px;
}

.social-panel {
  div {
    display: inline;
  }

  .fb-like span {
    height:24px !important;
    width:90px !important;
  }

  .twitter-share-button {
    width:95px !important;
  }

  #___plusone_0 {
    width:72px !important;
  }

  #vkwidget1 {
    width: 92px !important;
  }
}

#hd-like-star {
  width:5px;
  position:absolute;
  top:-6px;
  left: -20px;
  cursor:pointer;
  font-size:14px;
}