.social-panel-on-footer {
  padding-top: 12px !important;

  div {
    display: inline;
  }

  .fb-like span {
    height:24px !important;
    width:90px !important;
  }

  .twitter-share-button {
    width:95px !important;
  }

  #___plusone_0 {
    width:72px !important;
  }
}