%footer.b-foot.l-page_width_page{:role => 'contentinfo', :class => social_links_only_main }
  %p.b-foot__copy
    \&copy; 2012 &laquo;HappyDev&raquo;
    %br/
    Все права защищены
  - if controller.controller_name == 'invoices'
    .b-foot__exit
      %span.b-foot__exit-icon
      = link_to 'Выход', destroy_user_session_path, :method => :delete, :class => 'b-foot__exit-link'
  .b-foot__buttons.social-panel.social-panel-on-footer
    - if controller.controller_name == 'home'
      = render :partial => 'shared/social_links_panel'

  .b-foot__powered-by
    %p.b-foot__powered-by-text
      Красивый дизайн делают
      %br
      в студии
      %a.b-foot__powered-by-link{:href => "http://a2design.ru", :target => '_blank'}
        &laquo;А2 Дизайн&raquo;
        %span.b-foot__powered-by-link-logo
