.container{:style=> "padding-left:20px"}
  .row
    .span4
      %ul
        / %li
        /   %a{:href => "/about"} Организаторы
        %li
          %a{:href => "/about/requisites"} Реквизиты 
        %li
          %a{:href => "http://arvd.ru/page/view?id=15", :title => "Конгресс-холл Экспоцентра"} Место проведения
    .span7.social-panel-on-footer
      -unless Rails.env == 'development'
        #fb-root
        %script{:type => "text/javascript"}
          :plain
            window.fbAsyncInit = function() {
              FB.init({
                appId      : #{APP_CONFIG['facebook']['AppID']}, // App ID
                channelUrl : '//www.happydev.ru/channel.html', // Channel File
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
              });

              // Additional initialization code here
            };

            // Load the SDK Asynchronously
            (function(d){
               var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement('script'); js.id = id; js.async = true;
               js.src = "//connect.facebook.net/en_US/all.js";
               ref.parentNode.insertBefore(js, ref);
             }(document));

        .fb-like{:'data-send' => 'false', :'data-href' => 'http://happydev.ru', :'data-layout' => 'button_count', :'data-width' => '120', :'data-show-faces' => 'false', :'data-font' => 'lucida grande'}

        %a.twitter-share-button{:href => 'https://twitter.com/share', :'data-url' => 'http://happydev.ru'}
          Tweet
        %script(type="text/javascript")
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        .g-plusone{:'data-size' => 'medium'}
        %script(type="text/javascript")
          (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();

        %script{:type => 'text/javascript', :src => 'http://userapi.com/js/api/openapi.js?52'}
        %script(type="text/javascript")
          VK.init({apiId: #{APP_CONFIG['vkontakte']['AppID']}, onlyWidgets: true});
        #vk_like
        %script(type="text/javascript")
          VK.Widgets.Like("vk_like", {type: "mini", height: 20});

    -#.span2
      
      %ul
        %li
          %a{:href =>"#", :title => ""} Докладчикам
        %li
          %a{:href =>"#", :title => ""} Участникам
        %li
          %a{:href =>"#", :title => ""} Спонсорам
    -#.span4
      %h3 Подписка
      %p Если тебе лень регистрироваться, но ты хочешь получать новости и анонсы:
      %form
        %input{:type => "text", :placeholder => "E-mail"}
        %input{:type => "submit", :class => "btn", :value => "Oк"}
      
    -#.span4.social-networks
      %h3 Следуй за нами
      %a{:href => "http://twitter.com/_happydev", :title => "Follow us on Twitter", :class => "icon-twitter"}

#footer-extra
  .container{:style=> "padding-left:20px"}
    .row
      .span4
        &copy; 2012 HappyDev
      .span4
        %i.icon-phone
        &nbsp; 
        == +7 (909) 535-00-73
        /, +7 (908) 310-33-81
      .span4
        %i.icon-envelope
        &nbsp; 
        %a{:href => "mailto:org@happydev.ru"} org@happydev.ru 
