.container{:style=> "padding-left:20px"}
  .row
    .span2
      %ul
        / %li
        /   %a{:href => "/about"} Организаторы
        %li
          %a{:href => "/about/requisites"} Реквизиты 
        %li
          %a{:href => "http://arvd.ru/page/view?id=15", :title => "Конгресс-холл Экспоцентра"} Место проведения
        
    -#.span2
      
      %ul
        %li
          %a{:href =>"#", :title => ""} Докладчикам
        %li
          %a{:href =>"#", :title => ""} Участникам
        %li
          %a{:href =>"#", :title => ""} Спонсорам
    -#.span4
      %h3 Подписка
      %p Если тебе лень регистрироваться, но ты хочешь получать новости и анонсы:
      %form
        %input{:type => "text", :placeholder => "E-mail"}
        %input{:type => "submit", :class => "btn", :value => "Oк"}
      
    -#.span4.social-networks
      %h3 Следуй за нами
      %a{:href => "http://twitter.com/_happydev", :title => "Follow us on Twitter", :class => "icon-twitter"}

#footer-extra
  .container{:style=> "padding-left:20px"}
    .row
      .span4
        &copy; 2012 HappyDev
      .span4
        %i.icon-phone
        &nbsp; 
        == +79095350073, +79083103381
      .span4
        %i.icon-envelope
        &nbsp; 
        %a{:href => "mailto:org@happydev.ru"} org@happydev.ru 
