%footer.b-foot.l-page_width_page{:role => 'contentinfo'}
  %p.b-foot__copy
    \&copy; 2012 &laquo;HappyDev&raquo;
    %br/
    Все права защищены
  .b-foot__buttons
    = image_tag 'blocks/b-foot/like-btns.png'
  .b-foot__powered-by
    %a{:href => 'http://a2design.ru'}
      = image_tag 'blocks/b-foot/a2design-copy.png', :alt => 'a2design'
