.navbar
  .navbar-inner
    .container
      / %a.btn.btn-navbar{:data => { :toggle => "collapse", :target => ".nav-collapse"} }
      /   %span.icon-bar
      /   %span.icon-bar
      /   %span.icon-bar
      .logo
        %img{:src => "/assets/small_logo.png", :style => "display:none;"}
      -unless current_page?("/")
        %a.brand{:href => "/"}== #<b>Happy</b>Dev
      -else
        .brand== #<b>Happy</b>Dev

      .nav-collapse.fr
        %ul.nav
          -# TODO убирать ссылки если страница активна
          <li><a href="/about">О конференции</a></li>
          <li><a href="/program">Программа</a></li>
      <!-- <li><a>Программа</a></li> -->
      <!-- <li><a href="faq.html">FAQ</a></li> -->
      <!-- <li><a href="alt.html">Alt</a></li> -->
      <!-- <li><a href="contact.html">Contact</a></li> -->
      <!-- <li><button class="btn btn-primary">Sign In</button></li> -->
