%header.b-head.js-b-head{:role => "banner"}
  .b-head__inner.l-page_width_page.clearfix
    %menu.b-head__register
      %li.b-head__item
        =link_to "Регистрация", pay_path, :class => 'b-head__link'
    %menu.b-head__nav
      %li.b-head__item{:style => "min-width: 125px;"}
        %a.b-head__link{:href => root_path_with_anchor('about')}
          О конференции
          %span.b-head__link-line
      %li.b-head__item{:style => "min-width: 103px;"}
        %a.b-head__link{:href => root_path_with_anchor('reports')}
          Докладчики
          %span.b-head__link-line
      %li.b-head__item{:style => "min-width: 64px;"}
        %a.b-head__link{:href => root_path_with_anchor('tikets')}
          Билеты
          %span.b-head__link-line
      %li.b-head__item{:style => "min-width: 94px;"}
        %a.b-head__link{:href => root_path_with_anchor('programm')}
          Программа
          %span.b-head__link-line
      %li.b-head__item{:style => "min-width: 53px;"}
        %a.b-head__link{:href => root_path_with_anchor('venue')}
          Место
          %span.b-head__link-line
      %li.b-head__item{:style => "min-width: 84px;"}
        %a.b-head__link{:href => root_path_with_anchor('organizers')}
          Спонсоры
          %span.b-head__link-line
      %li.b-head__item{:style => "min-width: 84px;"}
        %a.b-head__link_{:href => '/students', :style => "position: relative;display: inline-block;color: #415463;text-transform: uppercase;text-decoration: none;letter-spacing: 1px;line-height: 42px;font-size: 16px;"}
          Студентам
          %span.b-head__link-line
    %ul.b-head__like-btns
      %li.b-head__like-btns-item.b-head__like-btns-item_icon_twitter
        %a.b-head__like-btns-link{:href => "http://twitter.com/_HappyDev", :target => '_blank'}
      %li.b-head__like-btns-item.b-head__like-btns-item_icon_facebook
        %a.b-head__like-btns-link{:href => "http://www.facebook.com/groups/112210215595021/", :target => '_blank'}
