.b-logo
  %p.b-logo__image
    - if controller.controller_name == 'home' && controller.action_name == 'index'
      = image_tag 'blocks/b-logo/logo.png', :alt => "HappyDEV 2012"
    - else
      %a.b-logo__link{:href => '/'}
        = image_tag 'blocks/b-logo/logo.png', :alt => "HappyDEV 2012"
  %p.b-logo__text
    29-30 сентября 2012,
    = succeed "\u{41a}\u{43e}\u{43d}\u{433}\u{440}\u{435}\u{441}\u{441}-\u{445}\u{43e}\u{43b}\u{43b}" do
      %br/
    Экспоцентра, Омск
- if controller.controller_name == 'home' && controller.action_name == 'index'
  %section.b-sections
    %h1.b-sections__title
      Уникальная IT-конференция
      %span.b-sections__title-small
        для разработчиков, дизайнеров и менеджеров
