!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js ie7 lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js ie8 lt-ie9">
/[if IE 9] <html class="no-js ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory
    %link{:href => "blocks/images/favicon.png", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "blocks/images/favicon.png", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "blocks/css/main.css", :rel => "stylesheet"}/
    %script{:src => "blocks/js/vendor/modernizr-2.6.1.min.js"}
  %body.b-page.js-b-page{"data-spy" => "scroll", "data-target" => ".js-b-head"}
    .b-page__inner
      /[if lt IE 7]
        <p class="chromeframe">
        You are using an outdated browser.
        <a href="http://browsehappy.com/">Upgrade your browser today</a> or
        <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
        better experience this site.</p>
      %header.b-head.js-b-head{:role => "banner"}
        .b-head__inner.l-page_width_page.clearfix
          %menu.b-head__nav
            %li.b-head__item.b-head__item_type_register
              %a.b-head__link{:href => "#register"}
                Регистрация
            %li.b-head__item
              %a.b-head__link{:href => "#about"}
                О конференции
                %span.b-head__link-line
            %li.b-head__item
              %a.b-head__link{:href => "#reports"}
                Докладчики
                %span.b-head__link-line
            %li.b-head__item
              %a.b-head__link{:href => "#tikets"}
                Билеты
                %span.b-head__link-line
            %li.b-head__item
              %a.b-head__link{:href => "#programm"}
                Программа
                %span.b-head__link-line
            %li.b-head__item
              %a.b-head__link{:href => "#venue"}
                Место
                %span.b-head__link-line
            %li.b-head__item
              %a.b-head__link{:href => "#organizers"}
                Спонсоры
                %span.b-head__link-line
          %ul.b-head__like-btns
            %li.b-head__like-btns-item.b-head__like-btns-item_icon_twitter
              %a.b-head__like-btns-link{:href => "http://twitter.com/_HappyDev"}
            %li.b-head__like-btns-item.b-head__like-btns-item_icon_facebook
              %a.b-head__like-btns-link{:href => "http://www.facebook.com/groups/112210215595021/"}
      .b-main{:role => "main"}
        .l-page_width_page.l-page_gap-bottom_50
          .b-logo
            %p.b-logo__image
              %img{:alt => "HappyDEV 2012", :src => "blocks/b-logo/logo.png"}/
            %p#about.b-logo__text
              29-30 сентября 2012,
              = succeed "\u{41a}\u{43e}\u{43d}\u{433}\u{440}\u{435}\u{441}\u{441}-\u{445}\u{43e}\u{43b}\u{43b}" do
                %br/
              Экспоцентра, Омск
          %section.b-sections
            %h1.b-sections__title
              Первая большая IT-конференция
              %span.b-sections__title-small
                для разработчиков, дизайнеров и менеджеров
            .clearfix
              %article.b-sections__section
                %h2.b-sections__section-title
                  Стартапы
                %p.b-sections__text
                  Здесь мы хотели бы обсудить то, как работа в стартапе отражается на принятии решений в
                  разработке, управлении и дизайне. Какие задачи нужно решать в первую очередь, чем можно пренебречь.
              %article.b-sections__section
                %h2.b-sections__section-title
                  Продуктовая разработка
                %p.b-sections__text
                  На этой секции мы рассмотрим вопросы зрелых продуктов с клиентской базой. Например,
                  поддержка пользователей, работа под нагрузками, развитие продукта.
              %article.b-sections__section
                %h2.b-sections__section-title
                  Фабрика проектов
                %p.b-sections__text
                  Эта секция посвящена опыту веб-студий и аутсорс-компаний, у кого работа с проектами
                  поставлена на поток.
        .l-page_bg_white.l-page_gap-bottom_25
          .l-page_width_page
            %section#reports.b-reporters.l-page_gap-top_25
              %span.b-reporters__count
                %i.b-reporters__count-number 17
              %h2.b-reporters__title
                Докладчики
              %p.b-reporters__title-text
                На нашей конференции выступят только те докладчики, которые смогут
                %br/
                прежде чем рассказывать &laquo;как&raquo;, рассказать «зачем».
              #carousel.b-reporters__persons.b-reporters__carousel.js-b-reporters__carousel.slide
                .carousel-inner
                  .item.clearfix.active
                    .b-reporters__person
                      .b-reporters__person-photo
                        %img{:alt => "", :src => "blocks/b-reporters/reporter_1.png"}/
                      %h2.b-reporters__person-name
                        Ольга Павлова
                      %p.b-reporters__person-theme
                        %a.b-reporters__person-theme-link{:href => "#"}
                          \&laquo;Технологии вовлечения заказчика в процессы визуализации интерфейсов&raquo;
                      %p.b-reporters__person-company
                        %a.b-reporters__person-company-link{:href => "#"}>
                          КБ &laquo;Собака @Павлова&raquo;
                        , Питер
                    .b-reporters__person
                      .b-reporters__person-photo
                        %img{:alt => "", :src => "blocks/b-reporters/reporter_2.png"}/
                      %h2.b-reporters__person-name
                        Артем Поликарпов
                      %p.b-reporters__person-theme
                        %a.b-reporters__person-theme-link{:href => "#"}
                          \&laquo;Технолог - тоже дизайнер&raquo;
                      %p.b-reporters__person-company
                        %a.b-reporters__person-company-link{:href => "#"}>
                          Бюро Артема Горбунова
                        , Боровичи
                    .b-reporters__person
                      .b-reporters__person-photo
                        %img{:alt => "", :src => "blocks/b-reporters/reporter_3.png"}/
                      %h2.b-reporters__person-name
                        Максим Трескин
                      %p.b-reporters__person-theme
                        %a.b-reporters__person-theme-link{:href => "#"}
                          \&laquo;Как начиналось Erlyvideo от бутстрапа до продукта&raquo;
                      %p.b-reporters__person-company
                        %a.b-reporters__person-company-link{:href => "#"}>
                          Metachord
                        , Новосибирск
                    .b-reporters__person
                      .b-reporters__person-photo
                        %img{:alt => "", :src => "blocks/b-reporters/reporter_4.png"}/
                      %h2.b-reporters__person-name
                        Алексей Кривицкий
                      %p.b-reporters__person-theme
                        %a.b-reporters__person-theme-link{:href => "#"}
                          \&laquo;Новейшая история менеджмента. От эры стагнации к периоду ренессанса&raquo;
                      %p.b-reporters__person-company
                        %a.b-reporters__person-company-link{:href => "#"}>
                          Scrum Guides
                        , Киев
                  .item.clearfix
                    .b-reporters__person
                      .b-reporters__person-photo
                        %img{:alt => "", :src => "blocks/b-reporters/reporter_2.png"}/
                      %h2.b-reporters__person-name
                        Артем Поликарпов
                      %p.b-reporters__person-theme
                        %a.b-reporters__person-theme-link{:href => "#"}
                          \&laquo;Технолог - тоже дизайнер&raquo;
                      %p.b-reporters__person-company
                        %a.b-reporters__person-company-link{:href => "#"}>
                          Бюро Артема Горбунова
                        , Боровичи
                    .b-reporters__person
                      .b-reporters__person-photo
                        %img{:alt => "", :src => "blocks/b-reporters/reporter_1.png"}/
                      %h2.b-reporters__person-name
                        Ольга Павлова
                      %p.b-reporters__person-theme
                        %a.b-reporters__person-theme-link{:href => "#"}
                          \&laquo;Технологии вовлечения заказчика в процессы визуализации интерфейсов&raquo;
                      %p.b-reporters__person-company
                        %a.b-reporters__person-company-link{:href => "#"}>
                          КБ &laquo;Собака @Павлова&raquo;
                        , Питер
                    .b-reporters__person
                      .b-reporters__person-photo
                        %img{:alt => "", :src => "blocks/b-reporters/reporter_3.png"}/
                      %h2.b-reporters__person-name
                        Максим Трескин
                      %p.b-reporters__person-theme
                        %a.b-reporters__person-theme-link{:href => "#"}
                          \&laquo;Как начиналось Erlyvideo от бутстрапа до продукта&raquo;
                      %p.b-reporters__person-company
                        %a.b-reporters__person-company-link{:href => "#"}>
                          Metachord
                        , Новосибирск
                    .b-reporters__person
                      .b-reporters__person-photo
                        %img{:alt => "", :src => "blocks/b-reporters/reporter_4.png"}/
                      %h2.b-reporters__person-name
                        Алексей Кривицкий
                      %p.b-reporters__person-theme
                        %a.b-reporters__person-theme-link{:href => "#"}
                          \&laquo;Новейшая история менеджмента. От эры стагнации к периоду ренессанса&raquo;
                      %p.b-reporters__person-company
                        %a.b-reporters__person-company-link{:href => "#"}>
                          Scrum Guides
                        , Киев
                %a.b-reporters__carousel-control.carousel-control.left{"data-slide" => "prev", :href => "#carousel"}
                %a.b-reporters__carousel-control.carousel-control.right{"data-slide" => "next", :href => "#carousel"}
        .l-page_width_page.l-page_gap-top_25
          %section.b-members.clearfix
            %h2.b-members__title
              %span.b-members__title-small
                Компанию составят
              %span.b-members__title-big
                Сотрудники
            .b-members__logos
              #carousel-logos.b-members__carousel.slide
                .carousel-inner
                  .item.active
                    %img.b-members__logo{:alt => "Habrahabr", :src => "blocks/b-members/hh-logo.png"}/
                    %img.b-members__logo{:alt => "Revision", :src => "blocks/b-members/revision-logo.png"}/
                    %img.b-members__logo{:alt => "Студия Доминион", :src => "blocks/b-members/dominion-logo.png"}/
                    %img.b-members__logo{:alt => "CMS magazine", :src => "blocks/b-members/cms-magazine-logo.png"}/
                  .item
                    %img.b-members__logo{:alt => "Habrahabr", :src => "blocks/b-members/hh-logo.png"}/
                    %img.b-members__logo{:alt => "Revision", :src => "blocks/b-members/revision-logo.png"}/
                    %img.b-members__logo{:alt => "Студия Доминион", :src => "blocks/b-members/dominion-logo.png"}/
                    %img.b-members__logo{:alt => "CMS magazine", :src => "blocks/b-members/cms-magazine-logo.png"}/
                  .item
                    %img.b-members__logo{:alt => "Habrahabr", :src => "blocks/b-members/hh-logo.png"}/
                    %img.b-members__logo{:alt => "Revision", :src => "blocks/b-members/revision-logo.png"}/
                    %img.b-members__logo{:alt => "Студия Доминион", :src => "blocks/b-members/dominion-logo.png"}/
                    %img.b-members__logo{:alt => "CMS magazine", :src => "blocks/b-members/cms-magazine-logo.png"}/
                %a.b-members__carousel-control.carousel-control.left{"data-slide" => "prev", :href => "#carousel-logos"}
                %a.b-members__carousel-control.carousel-control.right{"data-slide" => "next", :href => "#carousel-logos"}
          %section.clearfix.b-speaking
            .b-speaking__title-inner
              %h2.b-speaking__title
                Говорят
            .b-comments
              .b-comments__comment.clearfix
                .b-comments__person.clearfix
                  .b-comments__person-photo
                    %img.b-comments__person-img{:alt => "Сергей Бережной", :src => "blocks/b-comments/person-1.png"}/
                    %span.b-comments__person-frame
                  .b-comments__content
                    %h2.b-comments__person-name
                      Сергей Бережной
                    %p.b-comments__person-url
                      %a.b-comments__person-url-link{:href => "http://anotherpm.com"}
                        anotherpm.com
                    %p.b-comments__text
                      Да, довольно интересное событие, которое ищет свою нишу в рынке конференций и
                      идей. Приятно удивляет то, что вы хотите сделать конфу практичной, а не
                      \&laquo;популистской&raquo;, Это замечательное решение, которого давно ждет рынок:)
                .b-comments__person.clearfix
                  .b-comments__person-photo
                    %img.b-comments__person-img{:alt => "Сергей Бережной", :src => "blocks/b-comments/person-2.png"}/
                    %span.b-comments__person-frame
                  .b-comments__content
                    %h2.b-comments__person-name
                      Дмитрий Проворотов
                    %p.b-comments__person-url
                      %a.b-comments__person-url-link{:href => "http://factory.mn"}
                        factory.mn
                    %p.b-comments__text
                      У вас очень крутой подход к реализации и ваше письмо с пожеланиями по теме и
                      структуре выступления просто покорило меня. Успеха вам!
                      Уверен, у вас все получится отлично!
            .b-twitter
              %h2.b-twitter__title
                \#HappyDev
              %img.b-twitter__image{:alt => "#HappyDev", :src => "blocks/b-twitter/twitter.png"}/
          %section#tikets.b-tikets.l-page_gap-top_25
            .l-page_align_center
              %h2.b-tikets__title
                %b.b-tikets__title-left
                %b.b-tikets__title-right
                Билеты
            %p.b-tikets__title-text
              Первая большая IT-конференция в Омске для разработчиков, дизайнеров и менеджеров. Больше, чем
              когда-либо, мы рекомендуем вам приобрести билеты заранее, по хорошей цене и во избежание аншлага.
            .b-tikets__gallery
              #scrollable
                %ul.b-tikets__gallery-nav.navi
                  %li.active.b-tikets__gallery-nav-item
                    %a.b-tikets__gallery-nav-link 1
                  %li.b-tikets__gallery-nav-item
                    %a.b-tikets__gallery-nav-link 2
                  %li.b-tikets__gallery-nav-item
                    %a.b-tikets__gallery-nav-link 3
                  %li.b-tikets__gallery-nav-item
                    %a.b-tikets__gallery-nav-link 4
                  %li.b-tikets__gallery-nav-item
                    %a.b-tikets__gallery-nav-link 5
                .b-tikets__gallery-inner.items
                  .b-tikets__gallery-item
                    %img{:alt => "", :src => "blocks/b-tikets/conf-img.png"}/
                  .b-tikets__gallery-item
                    %img{:alt => "", :src => "blocks/b-tikets/conf-img.png"}/
                  .b-tikets__gallery-item
                    %img{:alt => "", :src => "blocks/b-tikets/conf-img.png"}/
                  .b-tikets__gallery-item
                    %img{:alt => "", :src => "blocks/b-tikets/conf-img.png"}/
                  .b-tikets__gallery-item
                    %img{:alt => "", :src => "blocks/b-tikets/conf-img.png"}/
            .b-tikets__methods.clearfix
              .b-tikets__method.b-tikets__method_type_earliest
                .b-tikets__link.js-b-tikets__link{:href => "#"}
                  %h2.b-tikets__method-title
                    Очень раннее бронирование
                  .b-tikets__pricing.clearfix
                    %span.b-tikets__price-inner
                      %i.b-tikets-price
                        2200
                      %span.b-tikets__rubl-inner
                        %i.b-tikets__rubl
                          руб.
                        %img.b-tikets__rubl-img{:alt => "", :src => "blocks/b-tikets/rubl.png"}/
                    %span.b-tikets__pricing-date
                      До 9 сентября
                  .b-tikets__content
                    %p.b-tikets__content-title
                      В стоимость участия входит:
                    %ul.b-tikets__content-list
                      %li.b-tikets__content-item
                        Офигенные доклады на 3-х секциях;
                      %li.b-tikets__content-item
                        Возможность пообщаться с докладчиками в неформальной обстановке;
                      %li.b-tikets__content-item
                        Полезные знакомства и интересные собеседники;
                      %li.b-tikets__content-item
                        Масса озарений и полезных практик на каждый день;
                      %li.b-tikets__content-item
                        Кофе, чай, сладости и солености в течение всего дня.
              .b-tikets__method.b-tikets__method_type_early.b-tikets__method_state_active
                .b-tikets__link.js-b-tikets__link
                  %h2.b-tikets__method-title
                    Раннее бронирование
                  .b-tikets__pricing.clearfix
                    %span.b-tikets__price-inner
                      %i.b-tikets-price
                        2700
                      %span.b-tikets__rubl-inner
                        %i.b-tikets__rubl
                          руб.
                        %img.b-tikets__rubl-img{:alt => "", :src => "blocks/b-tikets/rubl.png"}/
                    %span.b-tikets__pricing-date
                      До 16 сентября
                  .b-tikets__content
                    %p.b-tikets__content-title
                      В стоимость участия входит:
                    %ul.b-tikets__content-list
                      %li.b-tikets__content-item
                        Офигенные доклады на 3-х секциях;
                      %li.b-tikets__content-item
                        Полезные знакомства и интересные собеседники;
                      %li.b-tikets__content-item
                        Масса озарений и полезных практик на каждый день;
                      %li.b-tikets__content-item
                        Кофе, чай, сладости и солености в течение всего дня.
                  %p.b-tikets__buy
                    %a.b-tikets__buy-button{:href => "index.html"}
                      Купить билет
              .b-tikets__method.b-tikets__method_type_normal
                .b-tikets__link.js-b-tikets__link
                  %h2.b-tikets__method-title
                    Обычная стоимость билета
                  .b-tikets__pricing.clearfix
                    %span.b-tikets__price-inner
                      %i.b-tikets-price
                        3200
                      %span.b-tikets__rubl-inner
                        %i.b-tikets__rubl
                          руб.
                        %img.b-tikets__rubl-img{:alt => "", :src => "blocks/b-tikets/rubl.png"}/
                    %span.b-tikets__pricing-date
                      До 23 сентября
                  .b-tikets__content
                    %p.b-tikets__content-title
                      В стоимость участия входит:
                    %ul.b-tikets__content-list
                      %li.b-tikets__content-item
                        Офигенные доклады на 3-х секциях;
                      %li.b-tikets__content-item
                        Полезные знакомства и интересные собеседники;
                      %li.b-tikets__content-item
                        Кофе, чай, сладости и солености в течение всего дня.
          %section#programm.b-programm.l-page_gap-top_75
            .l-page_align_center.b-programm__line
              .b-programm__title-inner
                %h2.b-programm__title
                  Программа
            %table.b-programm__table
              %tbody.b-programm__body
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column{:colspan => "3"}
                    %p.b-programm__column-title
                      Торжественное открытие конференции. Выступление спонсоров и партнеров.
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column
                    .b-programm__content.js-b-programm__content
                      %p.b-programm__text
                        Юрий Подорожный
                      %p.b-programm__theme
                        %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                      .b-programm__desc.js-b-programm__desc
                        .b-programm__desc-time
                          %span.b-programm__desc-watch 10:00-10:20
                          Главный зал
                        .b-programm__desc-person
                          .b-programm__desc-person-info-inner.clearfix
                            %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                            .b-programm__desc-person-info
                              %h2.b-programm__desc-name
                                Юрий Подорожный
                              %p.b-programm__desc-theme
                                %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                          %p.b-programm__desc-text
                            На примере отлаженной работы нашего продакшна я покажу,
                            как можно объединить интересы девелоперов, маркетологов
                            и сейлзов, учесть интересы потребителя, чтобы на выходе
                            получить качественный и коммерчески успешный продукт.
                            в последнюю минуту.
                  %td.b-programm__column
                    %p.b-programm__text
                      Юрий Подорожный
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                  %td.b-programm__column
                    .b-programm__content.js-b-programm__content
                      %p.b-programm__text
                        Юрий Подорожный
                      %p.b-programm__theme
                        %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                      .b-programm__desc.js-b-programm__desc
                        .b-programm__desc-time
                          %span.b-programm__desc-watch 10:00-10:20
                          Главный зал
                        .b-programm__desc-person
                          .b-programm__desc-person-info-inner.clearfix
                            %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_3.png"}/
                            .b-programm__desc-person-info
                              %h2.b-programm__desc-name
                                Юрий Подорожный
                              %p.b-programm__desc-theme
                                %a.b-programm__desc-theme-link{:href => "#"} Product Owner - самая бессмысленная роль, или как команды совместно создают проекты
                          %p.b-programm__desc-text
                            На примере отлаженной работы нашего продакшна я покажу,
                            как можно объединить интересы девелоперов, маркетологов
                            и сейлзов, учесть интересы потребителя, чтобы на выходе
                            получить качественный и коммерчески успешный продукт.
                            в последнюю минуту.
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column
                  %td.b-programm__column
                  %td.b-programm__column
                    .b-programm__content.js-b-programm__content
                      %p.b-programm__text
                        Юрий Подорожный
                      %p.b-programm__theme
                        %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                      .b-programm__desc.js-b-programm__desc
                        .b-programm__desc-time
                          %span.b-programm__desc-watch 10:00-10:20
                          Главный зал
                        .b-programm__desc-person
                          .b-programm__desc-person-info-inner.clearfix
                            %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                            .b-programm__desc-person-info
                              %h2.b-programm__desc-name
                                Юрий Подорожный
                              %p.b-programm__desc-theme
                                %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                          %p.b-programm__desc-text
                            На примере отлаженной работы нашего продакшна я покажу,
                            как можно объединить интересы девелоперов, маркетологов
                            и сейлзов, учесть интересы потребителя, чтобы на выходе
                            получить качественный и коммерчески успешный продукт.
                            в последнюю минуту.
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column
                    %p.b-programm__text
                      Юрий Подорожный
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                  %td.b-programm__column
                    %p.b-programm__text
                      Юрий Подорожный
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                  %td.b-programm__column
                    %p.b-programm__text
                      Юрий Подорожный
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column
                    %p.b-programm__text
                      Юрий Подорожный
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                  %td.b-programm__column
                    .b-programm__content.js-b-programm__content
                      %p.b-programm__text
                        Юрий Подорожный
                      %p.b-programm__theme
                        %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                      .b-programm__desc.js-b-programm__desc
                        .b-programm__desc-time
                          %span.b-programm__desc-watch 10:00-10:20
                          Главный зал
                        .b-programm__desc-person
                          .b-programm__desc-person-info-inner.clearfix
                            %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                            .b-programm__desc-person-info
                              %h2.b-programm__desc-name
                                Юрий Подорожный
                              %p.b-programm__desc-theme
                                %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                          %p.b-programm__desc-text
                            На примере отлаженной работы нашего продакшна я покажу,
                            как можно объединить интересы девелоперов, маркетологов
                            и сейлзов, учесть интересы потребителя, чтобы на выходе
                            получить качественный и коммерчески успешный продукт.
                            в последнюю минуту.
                  %td.b-programm__column
                    .b-programm__content.js-b-programm__content
                      %p.b-programm__text
                        Юрий Подорожный
                      %p.b-programm__theme
                        %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                      .b-programm__desc.js-b-programm__desc
                        .b-programm__desc-time
                          %span.b-programm__desc-watch 10:00-10:20
                          Главный зал
                        .b-programm__desc-person
                          .b-programm__desc-person-info-inner.clearfix
                            %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                            .b-programm__desc-person-info
                              %h2.b-programm__desc-name
                                Юрий Подорожный
                              %p.b-programm__desc-theme
                                %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                          %p.b-programm__desc-text
                            На примере отлаженной работы нашего продакшна я покажу,
                            как можно объединить интересы девелоперов, маркетологов
                            и сейлзов, учесть интересы потребителя, чтобы на выходе
                            получить качественный и коммерчески успешный продукт.
                            в последнюю минуту.
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column
                    %p.b-programm__text
                      Юрий Подорожный
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                  %td.b-programm__column
                    %p.b-programm__text
                      Юрий Подорожный
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                  %td.b-programm__column
                    .b-programm__content.js-b-programm__content
                      %p.b-programm__text
                        Юрий Подорожный
                      %p.b-programm__theme
                        %a.b-programm__theme-link{:href => "#"} Как мы делали &laquo;Книгу вслух&raquo;
                      .b-programm__desc.js-b-programm__desc
                        .b-programm__desc-time
                          %span.b-programm__desc-watch 10:00-10:20
                          Главный зал
                        .b-programm__desc-person
                          .b-programm__desc-person-info-inner.clearfix
                            %img.b-programm__desc-photo{:alt => "Юрий Подорожный (Как мы делали &laquo;Книгу вслух&raquo;)", :src => "blocks/b-reporters/reporter_2.png"}/
                            .b-programm__desc-person-info
                              %h2.b-programm__desc-name
                                Юрий Подорожный
                              %p.b-programm__desc-theme
                                %a.b-programm__desc-theme-link{:href => "index.html"} Как мы делали &laquo;Книгу вслух&raquo;
                          %p.b-programm__desc-text
                            На примере отлаженной работы нашего продакшна я покажу,
                            как можно объединить интересы девелоперов, маркетологов
                            и сейлзов, учесть интересы потребителя, чтобы на выходе
                            получить качественный и коммерчески успешный продукт.
                            в последнюю минуту.
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column
                    %p.b-programm__text
                      Максим Трескин
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Erlyvideo. Why Erly?
                  %td.b-programm__column{:colspan => "2"}
                    %p.b-programm__text
                      Никита Филиппов
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Product Owner - самая бессмысленная роль, или как команды совместно создают проекты
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column{:colspan => "3"}
                    %p.b-programm__text
                      Обед
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column{:colspan => "3"}
                    %p.b-programm__text
                      Конкурсы
                %tr.b-programm__row
                  %td.b-programm__column
                    10:00-10:20
                  %td.b-programm__column
                    %p.b-programm__text
                      Яков Сироткин
                    %p.b-programm__theme
                      %a.b-programm__theme-link{:href => "#"} Автобус не придет
                  %td.b-programm__column
                  %td.b-programm__column
          %section#venue.b-venue.l-page_gap-top_25
            %h2.b-venue__title
              Место проведения
            .b-venue__map
              %script{:charset => "utf-8", :src => "http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js", :type => "text/javascript"}
              %script{:charset => "utf-8", :type => "text/javascript"} new DGWidgetLoader({"borderColor":"#a3a3a3","width":"960","height":"400","wid":"398515700752a255c6f4ba03702e376e","pos":{"lon":"73.329632483741","lat":"54.975472313011","zoom":"15"},"opt":{"ref":"hidden","card":["name","contacts","payings"],"city":"omsk"},"org":[{"id":"282003257943504","hash":"A4Aduv0233G259886769G973e86a34585H2H8B5gcq558807G4557284831J361"}]});
          %section#organizers.b-organizers
            .b-organizers__inner.clearfix
              .l-page__float_left.l-page_gap-right-out_45
                %h2.b-organizers__title
                  Организаторы конференции
                %img.b-organizers__logo{:alt => "7bits", :src => "blocks/b-organizers/7bits-logo.png"}/
              .l-page__float_left
                %h2.b-organizers__title
                  Генеральные спонсоры
                %img.b-organizers__logo{:alt => "Renault", :src => "blocks/b-organizers/renault-logo.png"}/
                %img.b-organizers__logo{:alt => "Peugeot", :src => "blocks/b-organizers/peugeot-logo.png"}/
                %img.b-organizers__logo{:alt => "Nissan", :src => "blocks/b-organizers/nissan-logo.png"}/
            .b-organizers__inner.clearfix
              %h2.b-organizers__title
                Спонсоры
              %img.b-organizers__logo{:alt => "Евромед", :src => "blocks/b-organizers/euromed-logo.png"}/
              %img.b-organizers__logo{:alt => "Вавилон", :src => "blocks/b-organizers/vavilon-logo.png"}/
              %img.b-organizers__logo{:alt => "Солёный зефир", :src => "blocks/b-organizers/zefir-logo.png"}/
            .b-organizers__inner.clearfix
              %h2.b-organizers__title
                Партнеры
              %img.b-organizers__logo{:alt => "a2design", :src => "blocks/b-organizers/a2design-logo.png"}/
            .b-organizers__inner.clearfix
              %h2.b-organizers__title
                Информационная поддержка
              %img.b-organizers__logo{:alt => "Стольник", :src => "blocks/b-organizers/stolnik-logo.png"}/
        %footer.b-foot.l-page_width_page{:role => "contentinfo"}
          %p.b-foot__copy
            \&copy; 2012 &laquo;HappyDev&raquo;
            %br/
            Все права защищены
          .b-foot__buttons
            %img{:alt => "", :src => "blocks/b-foot/like-btns.png"}/
          .b-foot__powered-by
            %a{:href => "http://a2design.ru"}
              %img{:alt => "a2design", :src => "blocks/b-foot/a2design-copy.png"}/
      :javascript
        window.jQuery || document.write('<script src="blocks/js/vendor/jquery-1.8.0.min.js"><\/script>')      %script{:src => "blocks/js/vendor/bootstrap.min.js"}
      %script{:src => "blocks/js/vendor/scrollspy.js"}
      %script{:src => "blocks/js/vendor/carousel.js"}
      %script{:src => "blocks/js/vendor/jquery.tools.min.js"}
      %script{:src => "blocks/js/vendor/jquery.tools.min.js"}
      
      %script{:src => "blocks/b-programm/b-programm.js"}
      / <script src="blocks/b-tikets/b-tikets.js"></script>
      %script{:src => "blocks/b-tikets/slider_run.js"}
      %script{:src => "blocks/b-reporters/carousel-run.js"}
      %script{:src => "blocks/b-members/b-members-carousel-run.js"}
      %script{:src => "blocks/js/plugins.js"}
      / <script>
      / var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      / (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      / g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      / s.parentNode.insertBefore(g,s)}(document,'script'));
      / </script>
